
 <div class="card card-padded" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= ad.photo %>');" data-url="<%= ad_path ad %>">
    <div class="card-category"><%= ad.category %></div>
    <div class="card-description">
      <h4><%= ad.address.upcase %> le <%= I18n.l(ad.flight_date, format: :short) %></h4>
<!--       <p><%= ad.description %></p>
 -->    </div>
    <div class="card-price"><p><%= ad.price %>€</p></div>
    <% if ad.user.pilotevalidation == true %>
    <div class="card-user"><%= ad.user.name || ad.user.first_name %>
    <div class="grade">
      <%= image_tag "checked.png", class: "avatar-large" %>
    </div>
    <% else %>
    <div class="card-user"><%= ad.user.name || ad.user.first_name %>
    <div class="grade">
      <%= image_tag "unchecked-pilot.png", class: "avatar-large" %>
    </div>
    <% end %>
     <% if ad.user.picture? %>
  <%= cl_image_tag ad.user.picture, class: "avatar" %>
  <% elsif ad.user.facebook_picture_url? %>
    <%= image_tag ad.user.facebook_picture_url.split("=")[0] << "=large", class: "avatar" %>
  <% else %>
    <%= image_tag "pilot.png", class: "avatar" %>
<% end %>
    </div>
  </div>

