<!-- <div class="col-xs-12 col-sm-4">
 -->  <div class="card card-padded" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= ad.photo %>');" data-url="<%= ad_path ad %>">
    <div class="card-category"><%= ad.category %></div>
    <div class="card-description">
      <h4><%= ad.address.upcase %> le <%= I18n.l(ad.flight_date, format: :short) %></h4>
<!--       <p><%= ad.description %></p>
 -->    </div>
    <div class="card-price"><%= ad.price %>€</div>
    <div class="card-user">
     <% avatar_url = ad.user.facebook_picture_url || "pilot.png" %>
      <img src="<%= avatar_url %>" class="avatar-large"/>
    </div>
  </div>
<!-- </div>
 -->
