<div class="card card-padded" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= ad.photo %>');" data-url="<%= ad_path ad %>">
    <div class="card-category"><%= ad.category %></div>
    <div class="card-description">
    <p>BOOKED</p>
      <h4><%= ad.address.upcase %> le <%= I18n.l(ad.flight_date, format: :short) %></h4>
<!--       <p><%= ad.description %></p>
 -->    </div>
    <div class="card-price"><%= ad.price %>€</div>
    <div class="card-user">
     <% if ad.user.picture? %>
      <img src="<%= ad.user.picture %>" class="avatar-large"/>
     <% else %>
          <%= image_tag "pilot.png", class: "avatar-large"%>
      <% end %>
    </div>
  </div>
