<h1>edité une annonce</h1>

  <%= simple_form_for(@ad) do |f| %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :flight_date %>
        <%= f.button :submit %>
  <% end %>


