

<% if user_signed_in? %>


<div class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="wrapper-registration">
        <h1 class="text-center">Publiez une nouvelle annonce</h1>
          <%= simple_form_for(@ad) do |f| %>
          <div class="form-group">
            <%= f.select :category, ['Multiaxe', 'Paramoteur', 'Pendulaire'], {} ,class: "form-control" %>
          </div>
          <%= f.input :price, label: false, placeholder: "Prix" %>
          <%= f.input :description, label: false, placeholder: "Exemple : Nous allons voler en pendulaire et nous survolerons les chateaux de la Loire, nous décollerons de l'aérodrome de Poitier" %>
          <%= f.input :flight_date, label: false, placeholder: "Date du vol"  %>
          <%= f.input :photo, label: false, placeholder: "Photo de votre ULM" %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :flight_time, label: false, placeholder: "Durée du vol" %>
          <%= f.input :address, label: false, placeholder: "Nous décollerons de..."  %>
          <%= f.button :submit, value: "Qui m'aime me suive..." %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <% else %>

  <%= link_to new_user_session_path %>

  <% end %>

