<% if user_signed_in? %>
<div class="banner-show banner-new-ad" style="height: 0px; font-weight: lighter;">
<p>Publiez une nouvelle annonce</p>
</div>
<div class="wrapper-profile-dashboard top-spacing">
  <div class="container">
    <div class="row margin-panel">
       <% @aeronefs.each do |aeronef|%>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= cl_image_tag aeronef.photos %>
      <div class="caption">
        <h3><%= aeronef.marque %></h3>
        <p><%= aeronef.modele %></p>
        <p><%= link_to 'Modifier', edit_aeronef_path(aeronef), class: 'btn btn-primary' %></a>
          <%= link_to 'Effacer', aeronef, method: :delete, class: 'btn btn-default' %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
  <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
      <%= link_to new_aeronef_path do %>
      <i class="fa fa-plus-square vertical-center" style="font-size: 333px;" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
    <div class="col-md-8">
      <div class="row">
            <%= simple_form_for(@ad) do |f| %>
                  <div class="panel panel-primary margin-panel">
                    <div class="panel-heading">Donnez un titre accrocheur à votre annonce</div>
                      <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
                        <%= f.input :titre, label: false, placeholder: "Ex: Vol au dessus des calanques en paramoteur", label: "Titre de l'annonce", :input_html => { class: 'hide-profile-field'}, wrapper: :horizontal_form %>
                      </div>
                    </div>
              <div class="panel panel-primary margin-panel">
                <div class="panel-heading">
 Remplissez les détails de votre vol</div>
                 <div class="user-form">
                 <div class="form-group">
                    <%= f.select :category, options_for_select(@aeronefs.map{ |c| [c.marque, c.modele, {'data-currency_code'=>c.vitesse}] }), {} ,class: "form-control", label: "Entrez votre catogorie d'ULM", wrapper: :horizontal_form, :style => "margin-bottom: 15px;" %>
                    <%= f.input :flight_date, wrapper: :horizontal_form, label: false, placeholder: "Date du vol", label: "Quand comptez vous voler" %>
                    <%= f.input :description, label: false, placeholder: "Exemple : Nous allons voler en pendulaire et nous survolerons les chateaux de la Loire, nous décollerons de l'aérodrome de Poitier",:input_html => {:rows => 10}, label: "Soyez créatif", wrapper: :horizontal_form %>
                    <%= f.input :address, label: false, placeholder: "Ex: Antibes", label: "Nous décollerons de...", wrapper: :horizontal_form %>
                    <%= f.input :price, label: false, placeholder: "Prix", label: "Votre tarif", wrapper: :horizontal_form %>

                    </div>
                  </div>
                </div>
                  <div class="panel panel-danger margin-panel">
                    <div class="panel-heading">Fortemment recommandé</div>
                      <div class="user-form">
                        <p>Donnez envie à votre passager de voler avec vous. Sortez votre appareil photo et montrez nous vos ULM !</p>

                        <%= f.input :photo, label: false, placeholder: "Photo de votre ULM", label: "Photo de votre ULM", :input_html => { class: 'hide-profile-field'}, wrapper: :horizontal_form %>
                        <%= f.input :photo_cache, as: :hidden %>
                        <p style="color: red;">Pour que votre annonce soit visible de tous, vous DEVEZ nous faire parvenir vos papiers <%= link_to "Complétez votre profil", edit_user_path(current_user), class: "title-welcome" %>
                          (brevet de pilote, licence en cours de validité, assurrance responsabilité civil).
                        </p>
                        <% if @aeronefs.empty? %>
                        <%= link_to "Veuillez ajouter un appareil", new_aeronef_path, class: "btn btn-default pull-right" %>
                        <% else %>
                        <%= f.button :submit, value: "Qui m'aime me suive...", class: "pull-right" %>
                        <% end %>
                      </div>
                    </div>
                <% end %>
      </div>
    </div>
    <div class="col-md-4">
        <div class="row">
          <div class="panel panel-primary margin-panel">
          <div class="panel-heading"><i class="fa fa-user" aria-hidden="true"></i> Cher(e) <%= current_user.first_name || current_user.name.capitalize %></div>
           <div class="new-ad-text">
          <p>Vous allez déposer une annonce afin de proposer un vol à bord de votre ULM. Voici quelques conseils pour la rédaction de votre annonce : </p>
          <ul>
            <li><i class="fa fa-info-circle" aria-hidden="true"></i> Décrivez votre vol avec précision, donnez des détails attractifs, comme ce que vous allez survoler, votre expérience, les petits plus qui vous caractérisent, etc...</li>
            <li><i class="fa fa-commenting" aria-hidden="true"></i>
Vous ferez l'objet d'un commentaire et d'une note de la part de votre passager. Soyez parfaitement transparent et riguoureux sur le détails concernant votre vol (météo, zone de survol, distance à parcourir, les conditions de vol en somme !).</li>
            <li><i class="fa fa-coffee" aria-hidden="true"></i> Un bon accueil et un bon briefing pré-vol sont toujours les bienvenues. Votre passager découvre peut être pour le première fois la 3ème dimension et il sera ravis d'être rassuré.</li>
            <!-- <li class="paiement"><i class="fa fa-check-square-o" aria-hidden="true"></i>
Quand un passager reserve et paye un vol avec vous, il vous sera envoyé un mail vous confirmant le paiement. Après le vol, une prise de contact par nos soins au passager débloquera le montant sur votre compte par virement bancaire sécurisé. </li>
            <li class="paiement"><i class="fa fa-credit-card" aria-hidden="true"></i>
Dans le cadre d'une commission reversé à MakeMeFly, votre prix sera majoré de 10% (si votre tarif est de 100€, il sera affiché 110€ et facturé comme tel.)</li> -->
          </ul>
         </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>


<% else %>
  <%= link_to new_user_session_path %>
  <% end %>
