<% if user_signed_in? %>
<div class="banner-show banner-new-ad" style="height: 200px; font-weight: lighter;">
<p>Publiez une nouvelle annonce</p>
</div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="new-ad-form">
        <p>Remplissez les détails de votre vol</p>
          <%= simple_form_for(@ad) do |f| %>
          <div class="form-group">
            <%= f.select :category, ['Multiaxe', 'Paramoteur', 'Pendulaire', 'Autogire'], {} ,class: "form-control" %>
          </div>
          <span>Votre tarif</span>
          <%= f.input :price, label: false, placeholder: "Prix" %>
          <%= f.input :description, label: false, placeholder: "Exemple : Nous allons voler en pendulaire et nous survolerons les chateaux de la Loire, nous décollerons de l'aérodrome de Poitier",:input_html => {:rows => 10} %>
          <span>Je vol le : </span>
          <%= f.input :flight_date, label: false, placeholder: "Date du vol"  %>
          <%= f.input :photo, label: false, placeholder: "Photo de votre ULM" %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :flight_time, label: false, placeholder: "Durée du vol" %>
          <%= f.input :address, label: false, placeholder: "Nous décollerons de..."  %>
          <%= f.button :submit, value: "Qui m'aime me suive..." %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="new-ad-text">
          <p>Cher(e) <%= current_user.name.capitalize %>,</p>
          <p>Vous allez déposer une annonce afin de proposer un vol à bord de votre ULM. Voici quelques conseils dans la rédaction de votre annonce afin de d'augmenter vos chances de booking : </p>
          <ul>
            <li>Décrivez votre vol avec précision, donnez des détails attractifs, comme ce que vous allez survoler, les petits plus qui vous caractérisent</li>
            <li>Soyez parfaitement transparent et riguoureux sur le détails concernant votre vol (en fonction des conditions de vol biensur !). Vous ferez l'objet d'un commentaire et d'une note de la part de votre passager</li>
            <li>Un bon accueil et un bon briefing pré-vol sont toujours les bienvenues. Votre passager découvre peut être pour le première fois la 3ème dimension et il sera ravis d'être rassuré.</li>
            <li class="paiement">Quand un passager reserve et paye un vol avec vous, il vous sera envoyé un mail vous confirmant le paiement. Une prise de contact par nos soins au passager débloquera le montant sur votre compte par virement bancaire sécurisé. </li>
            <li class="paiement">Dans le cadre d'une commission reversé à MakeMeFly, votre prix sera majorer de 10% (si votre tarif est de 100€, il sera affiché 110€.)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <%= link_to new_user_session_path %>
  <% end %>

