<!-- <div class="banner-search banner-show" id="search">
  <% @cityCounter = 0 %>
  <% @ads.each do |ad| %>
    <% if ad.flight_date >= DateTime.now %>
      <% @cityCounter = @cityCounter + 1 %>
    <% end %>
  <% end %>
    <p>Il y a <%= @cityCounter %> vol(s) aux alentours de <%= @city %></p>
</div> -->
<div class="wrapper-search" style="margin-top: 50px;">
  <div class="container-temp" style="margin-right: 0px;">
  <%= render 'shared/formulaire' %>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="liste padded">
          <% @ads.each do |ad| %>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <% if ad.flight_date >= DateTime.now %>
              <%= render ad %>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
       <div id="carte">
        <div id="map"></div>
       </div>
      </div>
    </div>
  </div>
</div>
 <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(6);
      });
    })
  <% end %>
 <% end %>



