<div class="banner-search banner-show" id="search">
  <% @cityCounter = 0 %>
<% if @ads.empty? %>
  <p>Il n'y a aucun vol(s) aux alentours de <%= @city %></p>
<% else %>
  <% @ads.each do |ad| %>
    <% if ad.flight_date >= DateTime.now %>
      <% @cityCounter = @cityCounter + 1 %>
    <% end %>
  <% end %>
    <p>Il y a <%= @cityCounter %> vol(s) aux alentours de <%= @city %></p>
<% end %>
</div>
<div class="wrapper-search">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="liste">
          <% @ads.each do |ad| %>
            <% if ad.flight_date >= DateTime.now %>
              <%= render ad %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
       <div id="carte">
        <div id="map"></div>
       </div>
      </div>
    </div>
  </div>
</div>
 <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(9);
      });
    })
  <% end %>
 <% end %>



