<div class="banner-show" style="height: 50vh;">
  <%= cl_image_tag @ad.photo, crop: :fill %>
  <% if @ad.booked == '1' %>
  <div class="booking_message">
    <h1>Vol réservé.</h1>
  </div>
  <% end %>
</div>
<div class="header-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-flat-details">
          <div class="header-flat-owner  text-center">
          <% if @ad.user.picture? %>
            <p><%= cl_image_tag @ad.user.picture, class: "img-circle", width: "160", height: "160" %></p>
            <% elsif @ad.user.facebook_picture_url? %>
            <p><%= image_tag @ad.user.facebook_picture_url, class: "img-circle", width: "80", height: "80" %></p>
            <% else %>
            <%= image_tag "pilot.png", class: "img-circle", width: "80", height: "80" %>
          <% end %>
            <% if user_signed_in? %>
              <p><%= link_to "Voir son profil", user_path(@ad.user), class: "btn btn-default" %></p>
            <% else %>
              <p><%= link_to "Voir son profil", user_path(@ad.user), class: "btn btn-default disabled" %></p>

            <% end %>
          </div>
          <div class="header-flat-name">
          <%= @ad.user.first_name || @ad.user.name.capitalize %>
            <p><h1>Pilote de <%= @ad.category %></h1></p>
            <p><%= @ad.address.capitalize %></p>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #cacccd"></i>
          </div>
          </div>
        </div>

      <div class="col-xs-12 col-sm-4">
        <%= form_tag orders_path do %>
        <% if @ad.user != current_user  %>
            <% if @ad.booked != '1'%>
            <p style="font-size: 4em;"><%= @ad.price %>€</p>
<!--               <%= humanized_money_with_symbol(@ad.price) %>
 -->              <!-- <h4>Je reserve ce vol avec <%= @ad.user.first_name || @ad.user.name.capitalize %></h4> -->
              <%= hidden_field_tag 'ad_id', @ad.id %>
                <% if user_signed_in? %>
                <p><%= link_to "Reserver ce vol avec #{@ad.user.name}", booking_message_ad_path, class: "btn btn-primary btn-gradient" %></p>
              <p><%= link_to "Contacter #{@ad.user.name}", new_message_path(to: @ad.user.id), class: " btn btn-primary btn-gradient" %></p>
                <% else %>
                <p><%= link_to "Contacter #{@ad.user.name}", new_message_path(to: @ad.user.id), class: "btn btn-primary disabled btn-gradient" %></p>
            <% end %>
<!--               <%= submit_tag 'Réservez dès maintenant', :class => "btn btn-success btn-block"%>
 -->            <% else %>
              <p>Ce vol est réservé !</p>
              <% end %>
        <% end %>

              <% if policy(@ad).update? %>
              <p style="font-size: 4em;"><%= @ad.price %>€</p>
              <% if @ad.booked == '0' %>
              <%= link_to "Marquer comme reservé", booked_ad_path, class: "btn btn-warning btn-block btn-gradient" %>
              <% else %>
                <%= link_to "Marquer comme disponible", unbooked_ad_path, class: "btn btn-warning btn-block btn-gradient" %>
              <% end %>
               <div style="margin-top: 15px">

                <%= link_to "Modifier mon annonce", edit_ad_path(@ad), :class => "btn btn-warning btn-block btn-gradient" %>
               </div>
                <% end %>
               <% if policy(@ad).destroy? %>
                <div style="margin-top: 15px">
                <%= link_to "Supprimer cette annonce", ad_path, method: :delete, :class => "btn btn-danger btn-block btn-gradient" %>
              </div>
            <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="flat-description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>A propos de ce vol</h2>
        <p><%= @ad.description %></p>
        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-2">
          <%= image_tag "flight_param.png", width: "30" %>
            Paramètre de vol
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Date du vol:  <strong><%= I18n.l(@ad.flight_date, format: :long)  %></strong></li>
              <li>Lieu du vol: <strong><%= @ad.address.capitalize %></strong></li>

            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Type d'ULM: <strong><%= @ad.category%></strong></li>
              <li>Temps de vol approximatif:  <strong><%= @ad.flight_time %>mn</strong></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-2">
          <%= image_tag "meteo.png", width: "30" %>
            Météo
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Météo du jour: <strong><%= @weather.currently.summary %></strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6">
            <ul class="list-unstyled">
            <% @daily_weather.each do |day| %>
              <li><%= Time.at(day.time).strftime('%d-%b-%Y') %><strong><%= day.summary %></strong></li>
<!--               <li>Température Max: <strong><%= day.apparentTemperatureMax.round %> degres</strong></li>
 -->            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-show">
  <div id="map" style="width: 100%; height: 400px; pointer-events:none; border: 1px solid #dce0e0;"></div>
</div>
<div class="wrapper-card padded">
<div style="font-weight: lighter; text-align: center;">
  <h4>Les autres vols proposés par <strong><%= @ad.user.first_name || @ad.user.name.capitalize %></strong></h4>
  </div>
    <div class="container">
       <div class="row">
         <div class="reveal">
            <% @ads.each do |ad| %>
              <div class="col-xs-12 col-sm-12 col-md-4">
                <%= render ad %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
</div>











  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({
      provider: {
        styles : [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "administrative.country",
        "elementType": "geometry",
        "stylers": [
            {
                "saturation": "4"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "landscape.natural.terrain",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "gamma": "1.76"
            },
            {
                "lightness": "20"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#8c9092"
            },
            {
                "visibility": "on"
            }
        ]
    }
]
      },
      internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);
      });
    })
  <% end %>
 <% end %>
