<h1>entrez un id d'annonce</h1>



<p><%= @ad.price %></p>
      <p><%= @ad.description %></p>
      <p><%= @ad.flight_date %></p>



<%= link_to @ad, method: :delete do %>
  <p>Supprimer cette annonce</p>
<% end %>

<p><%= link_to "retour aux annonces" , ads_path %></p>
