<div class="title_page">
      <div><strong>Voici le vol proposé par <%= @ad.user.name.upcase %></strong></div>
      <p>Annonce publié le <%= @ad.user.created_at.strftime("%d-%b-%Y")%></p>
</div>



<div class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">

      <div class="card-show card-padded">
          <%= cl_image_tag @ad.photo, height: 300, width: 533, crop: :fill %>
      </div>

      <div class="card-show card-padded">
        <div id="map" style="width: 100%; height: 600px;"></div>
      </div>

      </div>
      <div class="col-xs-12 col-md-6">

        <div class="card-show card-padded">

          <% case @ad.category %>
            <% when 'Paramoteur' %>
             <%= image_tag "paramoteur.jpg", :class => "header-show"%>
            <% when 'Multiaxe' %>
              <%= image_tag "multiaxe.jpg", :class => "header-show"%>
            <% when 'Pendulaire' %>
              <%= image_tag "pendulaire.jpeg", :class => "header-show"%>
          <% end %>

          <div class="card-picture">

            <% if @ad.user.picture? %>
             <p><%= cl_image_tag @ad.user.picture, :class => "avatar-xxl" %></p>
            <% else %>
             <p><%= image_tag "pilot.png", :class => "avatar-xxl" %></p>
            <% end %>

            <p><%= @ad.user.name.upcase %></p>
            <p>Pilote de <%= @ad.category %></p>
            <%= link_to t(".top_call_to_action", default: "Envoyé un message"), conversations_path, class: "btn btn-primary" %>
         </div>

        </div>












<div class="card-show card-padded">

          <div class="featureListItem">
            <div class="featureListItem__icon">
              <div class="icon fa fa-calendar"></div>
            </div>
            <div class="featureListItem__description"> Je te propose de voler avec moi le : <%= @ad.flight_date %></div>
          </div>
          <div class="featureListItem featureListItem--reverse">
            <div class="featureListItem__icon">
              <div class="icon fa fa-dashboard"></div>
            </div>
            <div class="featureListItem__description">Nous décollerons de <%= @ad.address %></div>
          </div>
          <div class="featureListItem">
            <div class="featureListItem__icon">
              <div class="icon fa fa-plane"></div>
            </div>
            <div class="featureListItem__description"><%= @ad.description %></div>
          </div>




</div>















        <div class="card-show card-padded padded">


          <div class="price-show"><p><%= humanized_money_with_symbol(@ad.price) %></p></div>
          <div class="btn-group padded-product button-show ">



            <%= form_tag orders_path do %>
              <%= hidden_field_tag 'ad_id', @ad.id %>
              <%= submit_tag 'Réservez dès maintenant' , :class => "btn btn-success btn-lg btn-block"%>
            <% end %>



<!--             <%= link_to "Réservez dès maintenant", "#", :class => "btn btn-success btn-lg btn-block" %>
 --><!--             <%= link_to "Retour à l'accueil", root_path, :class => "btn btn-danger" %> <-->      </div>


              <% if policy(@ad).update? %>
               <div class="padded-product">
                <%= link_to "Modifier mon annonce", ads_path,method: :update, :class => "btn btn-warning btn-lg btn-block" %>
               </div>
              <% end %>
               <% if policy(@ad).destroy? %>
                <div class="padded-product">
                <%= link_to "Supprimer cette annonce", ad_path, method: :delete, :class => "btn btn-danger btn-lg btn-block" %>
              </div>
            <% end %>

           </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>









 <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);

      });
    })
  <% end %>
 <% end %>



