<div class="header">
</div>



<div class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
      <p>Voici le vol de <%= @ad.user.name %></p>
      <p>Annonce publié le : <%= @ad.user.created_at.strftime("%d-%b-%Y")%></p>
        <%= cl_image_tag @ad.photo, height: 300, width: 400, crop: :fill %>

      </div>
      <div class="col-xs-12 col-md-6">

        <div class="card-show card-padded">

          <% case @ad.category %>
            <% when 'Paramoteur' %>
             <%= image_tag "paramoteur.jpg", :class => "header-show"%>
            <% when 'Multiaxe' %>
              <%= image_tag "multiaxe.jpg", :class => "header-show"%>
            <% when 'Pendulaire' %>
              <%= image_tag "pendulaire.jpeg", :class => "header-show"%>
          <% end %>






          <div class="card-picture"><p><%= cl_image_tag @ad.user.picture, :class => "avatar-xxl" %></p>
            <p><h2><%= @ad.user.name %></h2></p>
            <p>Pilote de <%= @ad.category %></p>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
          <div class="padded">
          <div class="date-show"><p><i class="fa fa-calendar" aria-hidden="true"></i><strong> Je te propose de voler avec moi le : <%= @ad.flight_date %></strong></p>
          </div>
          <p><i class="fa fa-map-marker fa-fw text-muted"></i><strong>Nous décollerons de <%= @ad.address %></strong></p>

          <div class="card-show-description"><p><%= @ad.description %></p></div>
          <div class="price-show"><p><%= humanized_money_with_symbol(@ad.price) %></p></div>
          <div class="btn-group padded-product button-show ">




            <%= form_tag orders_path do %>
              <%= hidden_field_tag 'ad_id', @ad.id %>
              <%= submit_tag 'Réservez dès maintenant' , :class => "btn btn-success btn-lg btn-block"%>
            <% end %>




<!--             <%= link_to "Réservez dès maintenant", "#", :class => "btn btn-success btn-lg btn-block" %>
 --><!--             <%= link_to "Retour à l'accueil", root_path, :class => "btn btn-danger" %> <-->      </div>


              <% if policy(@ad).update? %>
               <div class="padded-product">
                <%= link_to "Modifier mon annonce", ads_path, :class => "btn btn-warning btn-lg btn-block" %>
               </div>
              <% end %>
             <% if policy(@ad).destroy? %>
              <div class="padded-product">
                <%= link_to "Supprimer cette annonce", ad_path, method: :delete, :class => "btn btn-danger btn-lg btn-block" %>
              </div>
            <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>








<div id="map" style="width: 100%; height: 600px;"></div>

 <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);

      });
    })
  <% end %>
 <% end %>



