<div class="bd-color">

<div class="banner-show" style="height: 50vh;">
  <%= cl_image_tag @ad.photo, crop: :fill %>
  <% if @ad.booked == '1' %>
    <div class="booking_message">
      <h2>Vol réservé.</h2>
    </div>
    <% else %>
    <div class="place_libre">
      <h2>+ 1 place disponible</h2>
    </div>
  <% end %>
</div>
<div class="header-flat">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">


     <div id="flat-description">
        <h2><%= @ad.titre.capitalize %></h2>
        <div class="padded">
          <%= cl_image_tag @ad.aeronef.photos, width: "100%" %>
        </div>
        <p style="text-align: justify;"><%= @ad.description %></p>
        <hr>

        <div class="row">
          <div class="col-md-5">
            <div id="flat-data">
          <div class="title-flat">
          <%= image_tag "flight_param.png", width: "30" %>
            Paramètre de vol</div>
            <ul class="list-unstyled">
              <li>Date du vol:  <strong><%= I18n.l(@ad.flight_date, format: :long)  %></strong></li>
              <li>Lieu du vol: <strong><%= @ad.address.capitalize %></strong></li>

            </ul>
            <ul class="list-unstyled">

            </ul>
        </div>
          </div>
          <div class="col-md-6">
            <div id="flat-data">
          <div class="title-flat">
          <%= image_tag "checklist.png", width: "30" %>
            Fiche de l'appareil</div>
            <ul class="list-unstyled">
              <li>Type d'aéronef: <strong><%= @ad.aeronef.aeronef_category %></strong></li>
              <li>Modèle: <strong><%= @ad.aeronef.modele %></strong></li>
              <li>Marque: <strong><%= @ad.aeronef.marque %></strong></li>
            </ul>
            <ul class="list-unstyled">
              <li>Motorisation: <strong><%= @ad.aeronef.cylindre %></strong></li>
              <li>Autonomie en vol: <strong><%= @ad.aeronef.autonomie %></strong></li>
              <li>Année de construction:  <strong><%= @ad.aeronef.annee %></strong></li>
            </ul>
        </div>
          </div>
        </div>
        <hr>
 <div id="flat-data">
<div class="title-flat"><i class="fas fa-toolbox"></i> Equipements:</div>
<p style="text-align: justify;"><%= @ad.aeronef.equipement %></p>

 <div class="row padded">
        <div class="col-sm-12">
          <div class="panel-heading">
            <% unless @reviews.count == 0 %>
            <%= @reviews.count %> Commentaires:
            <% end %>
          </div>
           <div class="welcome">
          <%= render 'reviews/review', user_id: @ad.user_id %>
           </div>
        </div>
      </div>
</div>
</div>





<!-- <div id="mycarousel" class="carousel slide" data-ride="carousel" style="width: 100%;">
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
    <li data-target="#mycarousel" data-slide-to="2"></li>
    <li data-target="#mycarousel" data-slide-to="3"></li>
  </ol>


   <div class="carousel-inner" role="listbox">
    <div class="item">
        <%= image_tag "paramoteur.jpg" %>
    </div>
    <div class="item">
        <%= image_tag "pendulaire.jpg" %>
    </div>
    <div class="item">
        <%= image_tag "autogire-feature.jpg" %>
    </div>
    <div class="item">
        <%= image_tag "multiaxe.jpg" %>
    </div>
  </div>


   <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->







    </div>
    <div class="col-xs-12 col-sm-4 padded">
      <div class="thumbnail" style="margin-top: -200px;">
   <%= form_tag orders_path do %>
        <% if @ad.user != current_user  %>
        <div class="text-center">
          <p style="font-size: 1.5em; color: #2A628F;">A partir de <%= @ad.price %>€</p>




<!--

<hr>





    <div class="row">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>

date<%= content_tag(:input, "Hello world!")%>




<hr> -->











    <div class="row" style="">
          <p style="text-align: left;">Date de votre vol</p>
               <div style="overflow:hidden;">
                  <div class="form-group">
                      <div class="row">
                          <div class="" style="padding: 15px;">
                              <div id="datetimepicker12">

                              </div>
                          </div>
                      </div>
                  </div>
                  <script type="text/javascript">
                      $(function () {

                          $('#datetimepicker12').datetimepicker({
                              format: 'DD-MM-YYYY',
                              inline: true,
                              sideBySide: false,
                              disabledDates: [
                              moment("17/10/2018"),
                              new Date(2018, 10 - 1, 21),
                                ""
                            ]
                          });
                          var $date = $("#datetimepicker12").data("DateTimePicker").date();

                      });


                  </script>
              </div>
            <p style="text-align: left;">Nombre de personne</p>
            <div class="form-group">
                <div class='input-group' id="nb_personne">
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                </div>
                <script>
                  var $nb_personne = $("#nb_personne").val();
                </script>
            </div>
    </div>


<hr>




      <!--   <p style="font-size: 20px;">Balade en <%= @ad.aeronef.aeronef_category %> avec  <%= @ad.user.name %></p>
            <% if @ad.booked != '1'%> -->
            <!-- <div style="text-align: left;">
              <p style="font-size: 1em;">Pilote: <%= @ad.user.name.capitalize %></p>
              <p style="font-size: 1em;">ULM: <%= @ad.aeronef.aeronef_category %></p>
            </div> -->

<!--               <%= humanized_money_with_symbol(@ad.price) %>
 -->              <!-- <h4>Je reserve ce vol avec <%= @ad.user.first_name || @ad.user.name.capitalize %></h4> -->
              <%= hidden_field_tag 'ad_id', @ad.id %>
                <p><%= link_to "Envoyer une demande", booking_message_ad_path(), class: "btn btn-primary btn-gradient btn-send-request" %></p>
                <p><strong>SANS ENGAGEMENT</strong></p>
        </div>
<!--               <p><%= link_to "Contacter #{@ad.user.name}", new_message_path(to: @ad.user.id), class: " btn btn-primary btn-gradient" %></p>
 -->            <% else %>
              <p>Ce vol est réservé !</p>
            </div>
              <% end %>
        <% end %>

              <% if policy(@ad).update? %>
              <p style="font-size: 4em;"><%= @ad.price %>€</p>
              <% if @ad.booked == '0' %>
              <%= link_to "Marquer comme reservé", booked_ad_path, class: "btn btn-primary btn-block btn-gradient" %>
              <% else %>
                <%= link_to "Marquer comme disponible", unbooked_ad_path, class: "btn btn-primary btn-block btn-gradient" %>
              <% end %>
               <div style="margin-top: 15px">

                <%= link_to "Modifier mon annonce", edit_ad_path(@ad), :class => "btn btn-primary
                 btn-block btn-gradient" %>
               </div>
                <% end %>
               <% if policy(@ad).destroy? %>
                <div style="margin-top: 15px">
                <%= link_to "Supprimer cette annonce", ad_path, method: :delete, :class => "btn btn-primary btn-block btn-gradient" %>
              </div>
            <% end %>
            <% end %>
</div>

<div class="thumbnail">
  <div class="backgroud-photo" style="position: relative; margin-bottom: 75px;">
  <%= cl_image_tag @ad.photo, crop: :fill %>
    <div class="show-photo" style="position: absolute; width: 40%; height: 40%; top: 70%; left:30%;">
        <% if @ad.user.picture? %>
              <p><%= cl_image_tag @ad.user.picture %></p>
              <% elsif @ad.user.facebook_picture_url? %>
              <p><%= image_tag @ad.user.facebook_picture_url %></p>
              <% else %>
              <%= image_tag "pilot.png" %>
        <% end %>
    </div>
  </div>
      <div class="caption">
        <div class="text-center">
         <!--  <div class="feature-size" style="width: 30%;">
           <%= image_tag "pilot-feature.png" %>
          </div> -->
          <p class="text-center"><%= link_to @ad.user.first_name || @ad.user.name.capitalize, user_path(@ad.user, ad: @ad.id), class: "btn btn-default text-center" %></p>
        </div>
        <hr>
           <!--  <p><h1>Pilote de <%= @ad.aeronef.aeronef_category %></h1></p>
            <p><h1>Vols publiés: <%= Ad.where(user_id: @ad.user).count %></h1></p>
            <% if @reviews.count != 0 %>
            <p><h1>Avis sur <%=  @ad.user.first_name || @ad.user.name.capitalize %>: <%= @reviews.count %></h1></p>
            <% end %> -->
            <p><%= render 'shared/user_doc', user: @ad.user %></p>
            <hr>


            <hr>
            <p style="text-align: justify; padding: 20px;"><%= @ad.user.description %></p>
      </div>
    </div>


    </div>
  </div>
</div>

</div>





<div class="card-show">
  <div id="map" style="width: 100%; height: 400px; pointer-events:none; border: 1px solid #dce0e0;"></div>
</div>








<div class="wrapper-card padded">
<div style="font-weight: lighter; text-align: center;">
  <h4>Les autres vols proposés par <strong><%= @ad.user.first_name || @ad.user.name.capitalize %></strong></h4>
  </div>
    <div class="container">
       <div class="row">
         <div class="reveal">
            <% @ads.each do |ad| %>
              <div class="col-xs-12 col-sm-12 col-md-4">
                <%= render ad %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
</div>
</div>




  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({
      provider: {
        styles : [
    {
        "featureType": "landscape.man_made",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f7f1df"
            }
        ]
    },
    {
        "featureType": "landscape.natural",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#d0e3b4"
            }
        ]
    },
    {
        "featureType": "landscape.natural.terrain",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.medical",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#fbd3da"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#bde6ab"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffe15f"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#efd151"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "black"
            }
        ]
    },
    {
        "featureType": "transit.station.airport",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#cfb2db"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#a2daf2"
            }
        ]
    }
]
      },
      internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);
      });
    })
  <% end %>
 <% end %>
