<div class="wrapper-profile-dashboard top-spacing">
  <%= render 'shared/subnavbar' %>
  <% if @conversation.sender_id == current_user.id || @conversation.recipient_id == current_user.id %>
      <% if @conversation.sender_id == current_user.id %>
        <% recipient = User.find(@conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(@conversation.sender_id) %>
        <% end %>
    <% end %>
  <div class="container padded">
  <div class="col-md-3 col-sm-3">
    <div class="row">
    <div class="thumbnail">
      <% if recipient.picture? %>
        <%= cl_image_tag recipient.picture %>
        <% elsif recipient.facebook_picture_url? %>
          <%= image_tag recipient.facebook_picture_url.split("=")[0] << "=large" %>
        <% else %>
          <%= image_tag "pilot.png" %>
      <% end %>
      <div class="caption text-center">
      <p>Conversation avec</p>
        <h4><%= recipient.first_name || recipient.name.capitalize %></h4>
          <p><%= link_to "Voir son profil", user_path(recipient), :style=>'color: red; font-size: 12px;' %></p>
      </div>
     </div>
    </div>
    <div class="row">
       <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i>
Informations non vérifiées</div>
         <div class="welcome">
          <p>Brevet de pilote   <i class="fa fa-times" aria-hidden="true"></i></p>
          <p>Assurance RC   <i class="fa fa-times" aria-hidden="true"></i></p>
          <p>Licence ULM   <i class="fa fa-times" aria-hidden="true"></i></p>
         </div>
      </div>
    </div>
    <div class="row">
    </div>
    </div>
    <div class="col-md-9 col-sm-9">
    <div class="panel-explication">
    <div class="row">
       <div class="panel panel-default margin-panel">
        <div class="panel-heading" id="accordion">
          <span class="glyphicon glyphicon-comment"></span> Chat (<%= @messages.count %> messages)
        </div>
        <div class="panel-body-chat">
       <% @messages.each do |message| %>
        <% if message.body %>
        <% user = User.find(message.user_id) %>
          <div>
            <div class="user-chat">
                <% if user.picture? %>
                  <%= cl_image_tag user.picture, class: "img-circle", width: "40", height: "40" %>
                  <% elsif user.facebook_picture_url? %>
                  <%= image_tag user.facebook_picture_url, class: "img-circle", width: "40", height: "40" %>
                  <% else %>
                  <%= image_tag "pilot.png", class: "img-circle", width: "40", height: "40" %>
                <% end %>
                <% user_name = user.first_name || user.name.capitalize %>
                <strong><%= link_to user_name, user_path(user.id) %></strong>
                  <div class="time-message">
                    <div class="read" style="font-weight: lighter; font-size: 11px; color: gray;">
                    <%= message.message_time %>
                      <% if message.read? %>
                        <p>Message lu</p>
                      <% else %>
                        <p>Message non lu</p>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="body">
                  <%= message.body %>
                </div>
          </div>
      <% end %>
    <% end %>
    </div>
    <%= form_for [@conversation, @message], html: {class: "ui reply form panel-footer"} do |f| %>
      <div class="chat-form text-center">
        <%= f.text_area :body, class: "form-control" %>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
        <%= f.submit "Répondre", class: "btn btn-warning btn-sm" %>
      </div>
    <% end %>
    </div>
    </div>

    </div>
  </div>
</div>
</div>
