<div class="top-spacing">
</div>



<% @chosen_recipient = User.find_by(id: params[:to].to_i) %>
<div class="wrapper">
  <div class="container" style="height: 100vh; margin-top: 100px;">
    <div class="row">

        <div class="col-sm-9 col-md-10 inbox-banner">
          <% if current_user.picture? %>
            <% user_picture = current_user.picture %>
            <% elsif current_user.facebook_picture_url? %>
              <% user_picture = current_user.facebook_picture_url.split("=")[0] << "=large" %>
            <% else %>
              <% user_picture = "pilot.png" %>
          <% end %>
          <span><%= cl_image_tag user_picture, class: 'avatar-square-xxl' %>
           <span class="titre-inbox pull-right"> Messagerie </span> </span>
           <span class="info-user">
             <%= current_user.name.capitalize || current_user.first_name.capitalize || current_user.last_name.capitalize %> -
           <%= current_user.hometown.capitalize %>
           </span>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3 col-md-2">
          <%= link_to 'Nouveau message', new_message_path, class: 'btn btn-danger btn-sm btn-block' %>
            <hr />
            <ul class="nav nav-pills nav-stacked">
               <%=  render 'conversations/conversation_panel' %>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10 well" style="background-color: white;">
            <%= form_tag messages_path, method: :post do %>
    <div class="form-group">
      <%= label_tag 'recipients', 'Envoyer un message à' %>
      <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'form-control chosen-it' %>
    </div>
      <div class="form-group">
        <%= label_tag 'message[subject]', 'Sujet' %>
        <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= label_tag 'message[body]', 'Message' %>
        <%= text_area_tag 'message[body]', nil, rows: 10, class: 'form-control', required: true %>
      </div>
    <%= submit_tag 'Envoyer', class: 'btn btn-primary' %>
   <% end %>
        </div>
    </div>
</div>

</div>

