  <div class="banner-show banner-registration-pilote" style="height: 200px; font-weight: lighter; padding: 50px">
  <p>Nous sommes heureux de compter un nouveau membre dans la communauté. Inscrivez-vous.</p>
  </div>
  <div class="panel panel-default" style="height: 100vh;">
    <div class="panel-body">
    <div class="form-inputs text-center">
      <div class="container">
      <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                 <div class="wrapper-registration">
                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => 'well'}) do |f| %>
                    <h2>MAKEMEFLY</h2>
                    <%= f.error_notification %>
                     <p><%- resource_class.omniauth_providers.each do |provider| %>
                      <%= link_to "S'inscrire avec #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "btn btn-primary btn-lg" %><br />
                    <% end -%></p>
                    <div class="form-inputs">
                      <%= f.input :name, required: true, autofocus: true, placeholder: "Votre nom ou pseudo",label: false %>
                      <%= f.input :hometown, required: true, autofocus: true, placeholder: "Votre ville", label: false %>
                      <%= f.input :email, required: true, autofocus: true, placeholder: "Email",label: false %>
                      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), placeholder: "Mot de passe", label: false%>
                      <%= f.input :password_confirmation, required: true, placeholder: "Confirmez votre mot de passe", label: false %>
                    </div>
                      <div class="form-actions class-center text-center">
                        <%= f.button :submit, "S'inscrire", class: "btn-primary" %>
                      </div>
                      <%= render "devise/shared/links" %>
                       <% end %>
                    </div>
                </div>
               </div>
            </div>
         </div>
      </div>
  </div>







