<div class="wrapper-profile-dashboard top-spacing">
  <%= render 'shared/subnavbar' %>
  <div class="container padded">
  <% if current_user.pilote? %>
    <%= render 'shared/user_profile_pilote' %>
  <% else %>
    <%= render 'shared/user_profile_passenger' %>
  <% end %>
    <div class="col-md-9 col-sm-9">
      <div class="row">
        <div class="col-md-9 col-sm-9">
          <p><button type="button" class="btn btn-primary btn-lg margin-panel" style="width: 96%;" data-toggle="modal" data-target="#ModalForm">
              Publiez un article
            </button></p>
          <div class="margin-panel article-scroll">
              <% @articles.each do |article| %>

              <div class="panel panel-default panel-article">
                <div class="panel-heading titre-article">
                  <div class="media" style="padding-bottom: 5px;">
                    <div class="media-left">
                     <%= render 'shared/small_current_user_profile_photo' %>
                    </div>
                    <div class="media-body">
                      <div style="font-size: 14px;"><%= @user %></div>
                    </div>
                </div>
                  <% if policy(article).update? %>
                  <div class="dropdown menu-article">
                      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                        <div class="button-article">
                            <li><%= link_to "Mettre à jour", edit_article_path(article) %></li>
                            <li><%= link_to "Effacer", article, method: :delete %></li>
                        </div>
                        </ul>
                    </div>
                    <% end %>
                </div>
                  <div class="article">
                    <div class="description"><p><%= article.description.capitalize %></p></div>
                    <% if article.picture_article != nil %>
                      <p><%= cl_image_tag article.picture_article, class: "picture_article" %></p>
                    <% end %>
                    <% if article.video_url != "" %>
                      <% @v_url = article.video_url %>
                      <% @video_id = (/([\w-]{11})/.match(@v_url)).to_s %>
                      <% @embed_code = "<iframe width='100%' height='360' src='https://www.youtube.com/embed/#{@video_id}' frameborder='0' allowfullscreen></iframe>" %>
                        <div class="video"><p><%= raw(@embed_code) %></p></div>
                    <% end %>
                     <div id="post_title_<%= article.id%>">
                      <%= render 'users/post_title', post: article.posts %>
                     </div>
                      <div class="comment">
                        <div id="comment_<%= article.id%>">
                        <% if article.posts.blank? %>
                          <div id="no-post_<%= article.id%>">
                            <p>Soyez le premier a poster un commentaire</p>
                          </div>
                        <% else %>
                        <% if article.posts.count >= 4 %>
                            <button type="button" onclick="show()" id="button-comment">Voir les commentaires précédents</button>
                            <button type="button" onclick="reduce()" id="unbutton-comment">Réduire les commentaires</button>
                            <div class="hide-comment" id="hide-comment"><% commentaires = article.posts[article.posts.length - 4..-1] %>
                               <p><% commentaires.each do |post| %></p>
                                <%= render 'posts/show', post: post %>
                              <% end %>
                            </div>
                            <div class="show-comment" id="show-comment"><h2><% commentaires = article.posts %></h2>
                              <p><% commentaires.each do |post| %></p>
                                <%= render 'posts/show', post: post %>
                              <% end %>
                            </div>
                              <% else %>
                              <% article.posts.each do |post| %>
                                <%= render 'posts/show', post: post %>
                              <% end %>
                            <% end %>
                        <% end %>
                        </div>
<!--                           <%= render 'shared/small_current_user_profile_photo' %>
 -->                          <p><%= render 'users/form_post', article: article, post: @post %></p>
                   </div>
                  </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">


          <div class="panel panel-default article-scroll">
              <div class="panel-heading"><strong>Voici les membres de la communauté</strong></div>

              <% @users.each do |user| %>
              <% if user != current_user %>
                <div class="near-user" style="padding: 5px;">
                  <%= link_to user_path(user) do %>
                     <div class="media" style="padding-bottom: 5px;">
                    <div class="media-left">
                     <%= render 'shared/small_user_profile_photo_near_user', user: user %>
                    </div>
                    <div class="media-body">
                      <div style="font-size: 14px;"><%= user.name || user.first_name %></div>
                      <div class="user_status">
                      <% unless user.hometown.nil? %>
                        <% if user.pilote? %>
                          <div class="user_status">Pilote à <%= user.hometown %></div>
                          <% else %>
                          <div class="user_status">Passager à <%= user.hometown %></div>
                        <% end %>
                      <% end %>
                      </div>
                    </div>
                </div>
                <% end %>
                </div>
              <% end %>
              <% end %>

            </div>

        </div>
        </div>
      </div>
    </div>
  </div>
</div>





  <div class="modal fade" id="ModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><i class="fa fa-paper-plane" aria-hidden="true"></i> <%= current_user.name || current_user.first_name %>, rédige ton article.</h4>
                </div>
                <div class="modal-body text-center padded">
                   <div class="panel panel-default">
                    <div class="row">
                      <%= simple_form_for(@article) do |art| %>
                        <div class="user-form">
                          <%= art.input :description, :as => :text, required: false, autofocus: true, label: false, placeholder: "Des news concernant votre passion ?", :input_html => {:rows => 4} %>
                          <%= art.input :video_url, required: false, autofocus: true, label: "Publiez une vidéo youtube", placeholder: "Ex : https://www.youtube.com/watch?v=DIMIZPbnfNs", wrapper: :horizontal_form %>
                          <%= art.input :picture_article, label: "Téléchargez une photo", :input_html => { class: 'hide-profile-field' }, wrapper: :horizontal_form %>
                          <%= art.input :picture_article_cache, as: :hidden %>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <%= art.button :submit, value: "Publier", class: "btn pull-right btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: white; background-color: #2A628F;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" ><i class="fa fa-paper-plane" aria-hidden="true"></i> Cher(e) <%= current_user.name || current_user.first_name %> Remplissez les détails de votre vol</h4>
      </div>
      <div class="modal-body">
     <%= simple_form_for(@ad) do |f| %>
              <div class="panel panel-primary">
                 <div class="user-form">
                 <div class="form-group">
                    <%= f.select :category, ['Multiaxe', 'Paramoteur', 'Pendulaire', 'Autogire'], {} ,class: "form-control", label: "Entrez votre catogorie d'ULM", wrapper: :horizontal_form, :style => "margin-bottom: 15px;" %>
                    <%= f.input :photo, label: false, placeholder: "Photo de votre ULM", label: "Photo de votre ULM", :input_html => { class: 'hide-profile-field'}, wrapper: :horizontal_form %>
                        <%= f.input :photo_cache, as: :hidden %>
                    <%= f.input :flight_time, label: false, placeholder: "Ex: 40", wrapper: :horizontal_form, label: "Durée du vol en mn" %>
                    <%= f.input :flight_date, wrapper: :horizontal_form, label: false, placeholder: "Date du vol", label: "Quand comptez vous voler" %>
                    <%= f.input :description, label: false, placeholder: "Exemple : Nous allons voler en pendulaire et nous survolerons les chateaux de la Loire, nous décollerons de l'aérodrome de Poitier",:input_html => {:rows => 10}, label: "Soyez créatif", wrapper: :horizontal_form %>
                    <%= f.input :address, label: false, placeholder: "Ex: Antibes", label: "Nous décollerons de...", wrapper: :horizontal_form %>
                    <%= f.input :price, label: false, placeholder: "Prix", label: "Votre tarif", wrapper: :horizontal_form %>
                    </div>
                  </div>
                </div>
      </div>
      <div class="modal-footer" style="color: white; background-color: #2A628F;">
        <%= f.button :submit, value: "Qui m'aime me suive...", class: "pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
