<div class="marged well">
<% page_header "Your Conversations" %>
<p><%= link_to 'Démarrer un conversation', new_message_path, class: 'btn btn-lg btn-primary btn-gradient' %></p>
<div class="row">
  <div class="col-sm-4">
  <div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">

      <li class="<%= active_page(:inbox) %>">
        <%= link_to conversations_path(box: 'inbox') do %>
        <span class="label label-danger pull-right"><%= @messages.count %></span>
        <em class="fa fa-inbox fa-lg"></em>
        <span>Inbox</span>
      <% end %>
      </li>
      <li class="<%= active_page(:sent) %>">
       <%= link_to conversations_path(box: 'sent') do %>
       <em class="fa fa-share-square"></em>
        <span>Sent</span>
      <% end %>
      </li>
      <li class="<%= active_page(:trash) %>">
        <%= link_to conversations_path(box: 'trash') do %>
        <em class="fa fa-trash-o fa-lg"></em>
        <span>Trash</span>
      <% end %>
      </li>


     <!--  <%= mailbox_section 'inbox', @box, @messages.count %>
      <%= mailbox_section 'sent', @box %>
      <%= mailbox_section 'trash', @box %> -->
    </ul>
    </div>
    </div>
  </div>

  <div class="col-sm-8">
  <% if @box == 'trash' %>
    <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                   data: {confirm: 'Are you sure?'} %></p>
  <% end %>
    <ul class="list-group">
      <%= render partial: 'conversations/conversation', collection: @conversations %>
    </ul>

    <%= will_paginate %>
  </div>
</div>
</div>
