<div class="banner-show banner-session" style="height: 200px; font-weight: lighter;">
<p><i class="fa fa-comments" style="padding: 5px;"></i>Ma messagerie</p>
</div>
<div class="">
  <div>
  <div class="title_flight text-center">
    <p>Mes conversations</p>
  </div>
    <div>
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <div class="conversation">
          <div class="ad-data">
            <% if recipient.picture? %>
              <%= cl_image_tag recipient.picture, class: "img-circle", width: "80" %>
              <% else %>
              <%= image_tag "pilot.png", class: "img-circle", width: "80" %>
            <% end %>
            <strong><%= link_to recipient.name.capitalize, conversation_messages_path(conversation)%></strong> pour le vol du <%= I18n.l(conversation.ad.flight_date, format: :long) %> à <strong><%= conversation.ad.address%></strong><i class="fa fa-commenting-o"></i>
          </div>
          <div class="price-conversation">
            <%= conversation.ad.price %>€
          </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<!-- <div>
  <h3>All Users</h3>
  <div>
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
      <div>
        <%= user.name %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
      </div>
      <% end %>
    <% end %>
  </div>
</div> -->
