<div class="wrapper-profile-dashboard top-spacing" style="height: 85vh;">
<% if current_user.pilote != nil %>
  <%= render 'shared/subnavbar' %>
<% end %>
  <div class="container padded">
     <% if current_user.pilote? %>
    <%= render 'shared/user_profile_pilote' %>
      <% else %>
        <%= render 'shared/user_profile_passenger' %>
      <% end %>
    <div class="col-md-9 col-sm-9">
    <div class="row">
    <% if @conversations.empty? %>
    <div class="wrapper">
      <div class="margin-panel text-center">
            <div class="empty-ad" style="background-color: white;">
            <div class="icon fa fa-smile-o"></div>
              <h1>Vos conversations s'afficheront ici</h1>
              <%= link_to "HOME", root_path, class: "btn btn-primary" %>
            </div>
      </div>
    </div>
    <% else %>
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Mes conversations</div>
    <div class="conversation-wrapper">
    <div>
      <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.sender_id) %>
          <% else %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% end %>
          <div class="conversation">
        <div class="media" style="padding-bottom: 5px;">
        <div class="media-left">
            <% if recipient.picture? %>
              <%= cl_image_tag recipient.picture, class: "img-circle", width: "60", height: "60" %>
              <% elsif recipient.facebook_picture_url?%>
              <%= image_tag recipient.facebook_picture_url, class: "img-circle", width: "60", height: "60"  %>
              <% else %>
              <%= image_tag "pilot.png", class: "img-circle", width: "60", height: "60" %>
            <% end %>
            </div>
            <div class="media-body">
            <% user_name = recipient.first_name || recipient.name.capitalize %>
            <strong><%= link_to user_name, conversation_messages_path(conversation)%></strong>
            <i class="fa fa-commenting-o"></i>
                <div style="font-size: 14px; color: gray;"><%= conversation.messages.count %> messages
                </div>
        <!--     <% if conversation.ad.nil? %>
              <i class="fa fa-commenting-o"></i>
                <div style="font-size: 14px; color: gray;"><%= conversation.messages.count %> messages
                </div>
            <% else %>
            <div style="color: gray;">
             pour le vol du <%= I18n.l(conversation.ad.flight_date, format: :long) %> à <strong><%= conversation.ad.address%> <%= conversation.ad.price %>€</strong>
            </div>
            <% end %> -->
          </div>
        </div>
        </div>
        <% end %>
        </div>
        </div>
      </div>
      </div>
    <% end %>
    </div>
    </div>
  </div>

