<div class="banner-index-pilot text-center">
  <h1>LES PILOTES MAKEMEFLY</h1>
</div>
<div class="container text-center marged">
  <div class="row">
      <% @userPilotes.each do |user| %>
      <div class="col-xs-6 col-sm-6 col-md-3">
      <div class="thumbnail" style="box-shadow: 0 1px 2px rgba(0,0,0,0.2);">
       <% if user.picture? %>
        <%= cl_image_tag user.picture %>
        <% elsif user.facebook_picture_url? %>
          <%= image_tag user.facebook_picture_url.split("=")[0] << "=large" %>
        <% else %>
          <%= image_tag "pilot.png" %>
      <% end %>
      <div class="caption">
        <h3><%= user.first_name || user.name.capitalize %></h3>
        <p><%= user.hometown %></p>
        <p>
        <% if current_user != user %>
          <%= link_to "Profil", user_path(user.id), class: "btn btn-primary" %>
          <%= link_to "Message", chat_user_user_path(user.id), class: "btn btn-default" %>
          <%= @a.name %>
        <% end %>
        </p>
      </div>
    </div>
    </div>
  <% end %>
  </div>
</div>
