
<div class="container text-center marged">
  <div class="row">
      <% @userPilotes.each do |user| %>
      <% unless current_user == user %>
      <% if user != current_user %>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><div class="media pilote-table">
          <div class="media-left media-left-pilote">
               <% if user.picture? %>
                <%= cl_image_tag user.picture %>
                <% elsif user.facebook_picture_url? %>
                  <%= image_tag user.facebook_picture_url.split("=")[0] << "=large" %>
                <% else %>
                  <%= image_tag "pilot.png" %>
              <% end %>
          </div>
          <div class="media-body media-body-pilote">
            <h4 class="media-heading"><strong><%= user.first_name || user.name.capitalize %></strong> <%= user.hometown %></h4>
            <div class="media-subscribe">
              Le <%= I18n.l(user.created_at, format: :short) %>
            </div>
           <% if user.pilotevalidation == true %>
                <div class="grade-pilote" data-toggle="tooltip" data-placement="left" title="Pilote vérifié">
                <%= image_tag "checked.png"%>
                </div>
              <% else %>
              <div class="grade-pilote" data-toggle="tooltip" data-placement="left" title="Pilote non vérifié">
                <%= image_tag "unchecked-pilot.png"%>
              </div>
              <% end %>

             <!--  <div class="nb-vol-pilote">
                <strong><%= @userPilotes.count %></strong>
                <p>vols enregistrés</p>
              </div> -->


            <% if current_user != user && user_signed_in? %>
                <%= link_to "Profil", user_path(user.id), class: "btn btn-primary" %>
                <%= link_to 'Send message', new_message_path(to: user.id), class: 'btn btn-default btn-sm' %>
            <% end %>
          </div>
        </div></p>
    </div>
    <% end %>
    <% end %>
  <% end %>
  </div>
</div>
