<div class="container text-center marged">
  <div class="row">

      <% @userPilotes.each do |user| %>
      <div class="col-xs-12 col-md-3">
      <div class="thumbnail">
      <%= image_tag "pilot.png"%>
      <div class="caption">
        <h3><%= user.name.capitalize %></h3>
        <p><%= user.hometown.capitalize %></p>
        <p>
        <%= link_to "Profil", user_path(user.id), class: "btn btn-primary" %>
        <%= link_to "Message", user_path(user.id), class: "btn btn-default" %>
        </p>
      </div>
    </div>
    </div>
       <% end %>

  </div>
</div>
