
<div class="container text-center marged">
  <div class="row">
      <% @userPilotes.each do |user| %>
      <% if user != current_user %>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <p><div class="media">
          <div class="media-left">

               <% if user.picture? %>
                <%= cl_image_tag user.picture %>
                <% elsif user.facebook_picture_url? %>
                  <%= image_tag user.facebook_picture_url.split("=")[0] << "=large" %>
                <% else %>
                  <%= image_tag "pilot.png" %>
              <% end %>

          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= user.first_name || user.name.capitalize %> <%= user.hometown.capitalize %></h4>

            <% if current_user != user && user_signed_in? %>
                  <%= link_to "Profil", user_path(user.id), class: "btn btn-primary" %>
                  <%= link_to "Message", chat_user_user_path(user.id), class: "btn btn-default" %>
                <% end %>
          </div>
        </div></p>

    </div>
    <% end %>
  <% end %>
  </div>
</div>
