<div class="wrapper-profile-dashboard top-spacing">
<% if @user == current_user && current_user.pilote != nil %>
  <%= render 'shared/subnavbar' %>
<% end %>
<% if @user.picture_ulm_user? %>
  <div class="banner-show">
   <%= cl_image_tag @user.picture_ulm_user %>
  </div>
<% else %>
  <%= link_to edit_user_path(current_user) do  %>
    <div class="banner-show banner-user-profile">
      <h3>Insérez votre photo de bannière</h3>
    </div>
  <% end %>
<% end %>
  <div class="container padded" style="margin-top: -76px;">
  <div class="col-md-3 col-sm-3">
    <div class="row">
    <div class="thumbnail">
      <%= render "shared/user_profile_photo" %>
      <div class="caption text-center">
        <h4><%= @user.first_name || @user.name.capitalize %></h4>
        <% if current_user == @user %>
        <% else %>
          <p><%= link_to t(".top_call_to_action", default: "Envoyer un message"), chat_user_user_path(@user.id) %></p>
        <% end %>
      </div>
     </div>
    </div>
    <% if @user.pilote == true %>
      <div class="row">
         <div class="panel panel-default">
          <div class="panel-heading">Informations non vérifiées</div>
           <div class="welcome">
            <p>Brevet de pilote   <i class="fa fa-times" aria-hidden="true"></i></p>
            <p>Assurance RC   <i class="fa fa-times" aria-hidden="true"></i></p>
            <p>Licence ULM   <i class="fa fa-times" aria-hidden="true"></i></p>
           </div>
        </div>
      </div>
      <div class="row">
         <div class="panel panel-default">
          <div class="panel-heading">Vols de <%= @user.first_name || @user.name.capitalize %>: <%= @user_ads.count %></div>
           <div class="info-pilote">
            <p><%= link_to "Voir ses vols", user_ads_user_path(@user), class: "btn btn-warning" %></p>
           </div>
        </div>
      </div>
    <% end %>
    <div class="row">
       <div class="panel panel-default">
       <div class="panel-heading">Expérience de vol</div>
        <p>Nombre de vol chez nous : </p>
      </div>
    </div>
    </div>
    <div class="col-md-9 col-sm-9" style="margin-top: 50px;">
      <div class="panel-explication">
        <div class="row">
          <div class="id-user margin-panel">
           <h2>Bonjour, je suis <%=  @user.first_name || @user.name.capitalize %></h2>
           <p>Membre depuis <%= @user.message_time_user %></p>
           <p><%= @user.hometown %></p>
            <% if @user.description.nil? || @user.description.empty? %>
            <p><%= @user.first_name || @user.name.capitalize %> n'a pas encore complété sa description</p>
          <% else %>
          <div class="row margin-panel jumbotron">
              <p><%= @user.description %></p>
            </div>
          <% end %>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-9 col-sm-9">
          <div class="margin-panel">
              <% @articles.each do |article| %>
              <div class="panel panel-default">
                <div class="panel-heading titre-article">
                  <div class="media">
                  <div class="media-left">
                   <% if @user.picture? %>
                    <%= cl_image_tag @user.picture, class: "avatar" %>
                    <% elsif @user.facebook_picture_url? %>
                      <%= image_tag @user.facebook_picture_url, class: "avatar" %>
                      <% else %>
                      <%= image_tag "pilot.png", class: "avatar" %>
                    <% end %>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><strong><%= article.title.capitalize %></strong></h4>
                    <div class="posted"><p>Posté le: <%= article.created_at %></p></div>
                  </div>
                  </div>
                  <% if policy(article).update? %>
                  <div class="dropdown menu-article">
                      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                        <div class="button-article">
                            <li><%= link_to "Mettre à jour", edit_article_path(article) %></li>
                            <li><%= link_to "Effacer", article, method: :delete %></li>
                        </div>
                        </ul>
                    </div>
                    <% end %>
                </div>
                  <div class="article">
                    <div class="description"><p><%= article.description.capitalize %></p></div>
                    <% if article.picture_article != nil %>
                      <%= cl_image_tag article.picture_article, class: "picture_article" %>
                    <% end %>
                    <% if article.video_url != "" %>
                    <% @v_url = article.video_url %>
                    <% @video_id = (/([\w-]{11})/.match(@v_url)).to_s %>
                    <% @embed_code = "<iframe width='100%' height='360' src='http://www.youtube.com/embed/#{@video_id}' frameborder='0' allowfullscreen></iframe>" %>
                      <div class="video"><p><%= raw(@embed_code) %></p></div>
                    <% end %>
                      <div class="comment" >
                      <div id="comment">
                      <% if article.posts.blank? %>
                        <p>Soyez le premier a poster un commentaire</p>
                        <% else %>
                        <%= pluralize article.posts.count, "commentaire" %>
                        <% article.posts.each do |post| %>
                          <%= render 'posts/show', post: post %>
                        <% end %>
                      <% end %>
                      </div>

                          <%= render 'form_post', article: article, post: @post %>
                          <%= render 'shared/small_current_user_profile_photo' %>
                   </div>
                  </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">

        </div>
        </div>
      </div>
    </div>
  </div>
</div>

