<div class="wrapper-profile-dashboard top-spacing">
<% if @user == current_user && current_user.pilote != nil %>
  <%= render 'shared/subnavbar' %>
<% end %>
<% if @user.picture_ulm_user? %>
  <div class="banner-show">
   <%= cl_image_tag @user.picture_ulm_user %>
  </div>
<% else %>
  <%= link_to edit_user_path(current_user) do  %>
    <div class="banner-show banner-user-profile">
    <% if @user == current_user %>
      <h3>Insérez votre photo de bannière</h3>
    <% end %>
    </div>
  <% end %>
<% end %>
<div class="bar-profile ">
  <div class="info-bar-profile navbar text-center">
    <div class="navbar-wagon-right hidden-xs">
      <div class="vertical-align info-item">
        <p>Vols</p>
        <p><strong><%= @user_ads.count %></strong></p>
      </div>
       <div class="vertical-align info-item">
        <p>Commentaires</p>
        <p><strong>0</strong></p>
      </div>
       <div class="vertical-align info-item">
        <p>Articles</p>
        <p><strong><%= @articles.count %></strong></p>
      </div>
      <% if @user == current_user && current_user.pilotevalidation? %>
      <div class="button-ad-profile">
        <%= link_to "Planifiez un vol", new_ad_path, class: "btn btn-success" %>
      </div>
      <% else %>
      <div class="button-ad-profile">
        <%= link_to "Avis sur #{@user.name.capitalize}", new_ad_path, class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
</div>
</div>
  <div class="container padded" style="margin-top: -220px;">
  <div class="col-md-3 col-sm-3">
    <div class="row">
    <div class="thumbnail">
      <%= render "shared/user_profile_photo" %>
      <div class="caption text-center">
        <h4><%= @user.first_name || @user.name.capitalize %></h4>
        <%= render 'shared/user_status' %>
        <p>Membre depuis <%= @user.message_time_user %></p>
        <% if current_user == @user %>
        <p><%= link_to "Compléter mon profil", edit_user_path(current_user), :style=>'color: red; font-size: 12px;' %></p>
        <% else %>
          <p><%= link_to t(".top_call_to_action", default: "Envoyer un message"), chat_user_user_path(@user.id) %></p>
        <% end %>
      </div>
     </div>
    </div>
     <div class="row">
      <div class="panel panel-default" style="padding: 20px;">
      <% if @user.description.nil? || @user.description.empty? %>
        <p><%= @user.first_name || @user.name.capitalize %> n'a pas encore complété sa description</p>
      <% else %>
        <p style="word-wrap: break-word;"><%= @user.description %></p>
      <% end %>
        </div>
     </div>
    <% if @user.pilote == true %>
      <div class="row">
         <div class="panel panel-default">
          <div class="panel-heading">Informations non vérifiées</div>
           <div class="welcome">
           <%= render 'shared/user_doc' %>
           </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="col-md-9 col-sm-9" style="margin-top: 195px;">
      <div class="row padded margin-panel">
       <% if @user == current_user %>
        <% @ads.each do |ad| %>
        <div class="col-xs-12 col-sm-12 col-md-6">
         <%= render ad %>
        </div>
        <% end %>
        <% else %>
        <% @user_ads.each do |ad| %>
          <div class="col-xs-12 col-sm-12 col-md-6">
         <%= render ad %>
        </div>
        <% end %>
      <% end %>

        </div>


        <div class="row">
        <div class="col-md-9 col-sm-9">
          <% if @user == current_user %>
            <div class="panel panel-default margin-panel">
            <div class="row">
              <%= simple_form_for(@article) do |art| %>
                <div class="user-form">
                <div class="media" style="padding-bottom: 5px;">
                    <div class="media-left">
                     <%= render 'shared/small_current_user_profile_photo' %>
                    </div>
                    <div class="media-body">
                      <div style="font-size: 14px;"><%= @user.name.capitalize %></div>
                      <div class="user_status"><%= render 'shared/user_status' %></div>
                    </div>
                </div>
                  <div class="article-dexcription" style="padding: 0px 15px;">
                  <%= art.input :description, :as => :text, required: false, autofocus: true, label: false, placeholder: "Des news concernant votre passion ?", :input_html => {:rows => 2} %>
                  </div>
                  <%= art.input :video_url, required: false, autofocus: true, label: "Publiez une vidéo youtube", placeholder: "Ex : https://www.youtube.com/watch?v=DIMIZPbnfNs", wrapper: :horizontal_form %>
                  <%= art.input :picture_article, label: "Téléchargez une photo", :input_html => { class: 'hide-profile-field' }, wrapper: :horizontal_form %>
                  <%= art.input :picture_article_cache, as: :hidden %>
                  <%= art.button :submit, value: "Publier", class: "btn pull-right btn-primary" %>

                  </div>
                <% end %>
            </div>
          </div>
      <% end %>
          <div class="margin-panel">
              <% @articles.each do |article| %>
              <div class="panel panel-default panel-article">
                <div class="panel-heading titre-article">
                  <div class="media" style="padding-bottom: 5px;">
                    <div class="media-left">
                     <%= render 'shared/small_current_user_profile_photo' %>
                    </div>
                    <div class="media-body">
                      <div style="font-size: 14px;"><%= @user.name.capitalize %></div>
                      <div class="user_status"><%= render 'shared/user_status' %></div>
                      <div class="posted">Le <%= I18n.l(article.created_at, format: :short) %></div>

                    </div>
                </div>
                  <% if policy(article).update? %>
                  <div class="dropdown menu-article">
                      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                        <div class="button-article">
                            <li><%= link_to "Mettre à jour", edit_article_path(article) %></li>
                            <li><%= link_to "Effacer", article, method: :delete %></li>
                        </div>
                        </ul>
                    </div>
                    <% end %>
                </div>
                  <div class="article">
                    <div class="description"><p><%= article.description.capitalize %></p></div>
                    <% if article.picture_article != nil %>
                      <p><%= cl_image_tag article.picture_article, class: "picture_article" %></p>
                    <% end %>
                    <% if article.video_url != "" %>
                      <% @v_url = article.video_url %>
                      <% @video_id = (/([\w-]{11})/.match(@v_url)).to_s %>
                      <% @embed_code = "<iframe width='100%' height='360' src='https://www.youtube.com/embed/#{@video_id}' frameborder='0' allowfullscreen></iframe>" %>
                        <div class="video"><p><%= raw(@embed_code) %></p></div>
                    <% end %>
                     <div id="post_title_<%= article.id%>">
                      <%= render 'users/post_title', post: article.posts %>
                     </div>
                      <div class="comment">
                        <div id="comment_<%= article.id%>">
                        <% if article.posts.blank? %>
                          <div id="no-post_<%= article.id%>">
                            <p>Soyez le premier a poster un commentaire</p>
                          </div>
                        <% else %>
                          <% article.posts.each do |post| %>
                            <%= render 'posts/show', post: post %>
                          <% end %>
                        <% end %>
                        </div>
<!--                           <%= render 'shared/small_current_user_profile_photo' %>
 -->                          <%= render 'form_post', article: article, post: @post %>
                   </div>
                  </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Voici les membres de la communauté proches de vous</strong></div>
              <% @users_near_from_me.each do |user| %>
              <% if user != current_user %>
                <div class="near-user" style="padding: 5px;">
                  <%= link_to user_path(user) do %>
                     <div class="media" style="padding-bottom: 5px;">
                    <div class="media-left">
                     <%= render 'shared/small_user_profile_photo_near_user', user: user %>
                    </div>
                    <div class="media-body">
                      <div style="font-size: 14px;"><%= user.name.capitalize || @user.first_name %></div>
                      <div class="user_status">
                        <% if user.pilote? %>
                          <div class="user_status">Pilote à <%= user.hometown %></div>
                          <% else %>
                          <div class="user_status">Passager à <%= user.hometown %></div>
                        <% end %>
                      </div>
                    </div>
                </div>
                <% end %>
                </div>
              <% end %>
              <% end %>
            </div>
















    <!--     <% if @user == current_user %>
          <% if @user.pilote? %>

          <% else %>
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
 Voici les pilotes proches de vous</strong></div>
                <% @users_near_from_me.each do |user| %>
                <% if user != current_user %>
                  <% if user.pilote? %>
                  <div class="near-user" style="padding: 5px;">
                    <%= link_to user_path(user) do %>
                    <%= render 'shared/small_user_profile_photo_near_user', user: user %>
                    <%= user.name.capitalize || @user.first_name %>
                    <% end %>
                    </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
          <% end %>
        <% else %>
        <div class="panel panel-default">
               <div class="panel-heading"><i class="fa fa-comments-o" aria-hidden="true"></i>
 <strong>Avis sur <%= @user.name || @user.first_name %></strong></div>
                <div class="welcome">
                  <p>Commentaires :  </p>
                </div>
              </div>
        <% end %> -->
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

