<div class="wrapper-profile-dashboard top-spacing">
<% if @user.picture_ulm_user? %>
  <div class="banner-show">
   <%= cl_image_tag @user.picture_ulm_user %>
  </div>
<% else %>
  <%= link_to edit_user_path(current_user) do  %>
    <div class="banner-show banner-user-profile">
    <% if @user == current_user %>
      <h3>Insérez votre photo de bannière</h3>
    <% end %>
    </div>
  <% end %>
<% end %>
<div class="bar-profile ">
  <div class="info-bar-profile navbar text-center">
    <div class="navbar-wagon-right hidden-xs">
     <% if @user.pilote == true %>
      <div class="vertical-align info-item">
        <p>Vols publiés</p>
        <p><strong class="badge" style="padding: 4px;"><%= @user_ads.count %></strong></p>
      </div>
      <% end %>
       <div class="vertical-align info-item">
        <p>J'aime</p>
        <p><strong class="badge" style="padding: 4px;">O</strong></p>
      </div>
       <div class="vertical-align info-item">
        <p>Articles</p>
        <p><strong class="badge" style="padding: 4px;"><%= @articles.count %></strong></p>
      </div>

      <% if @user == current_user %>
        <div class="button-article-profile">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalForm">
            Publiez un article
          </button>
          </div>

     <!--      <% if current_user.pilote? %>
        <% if current_user.pilotevalidation? %>
          <div class="button-ad-profile">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Planifiez un vol
          </button>
          </div>
        <% else %>
          <div class="button-ad-profile">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Planifiez un vol
          </button>
          </div>
        <% end %>
      <% end %> -->
        <% else %>
      <div class="button-ad-profile">
        <%= link_to "Avis sur #{@user.name || @user.first_name}", user_path(current_user), class: "btn btn-primary disabled" %>
      </div>
      <% end %>
      <% if @user == current_user && current_user.pilote != nil %>
          <div class="btn btn-primary button-like-owner">
                    <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center btn-primary"></span>J'aime
                    <span class="badge"><%= @user.get_upvotes.size %></span>
                </div>
                <% else %>
                <div>
                  <%= link_to like_user_path(@user), class: "btn btn-success button-like", method: :put do %>
                    <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center btn-success"></span>J'aime
                    <span class="badge"><%= @user.get_upvotes.size %></span>
                  <% end %>
                </div>
        <% end %>
  </div>
</div>
</div>
<div class="wrapper">
  <div class="container padded" style="margin-top: -220px;">
  <div class="col-md-3 col-sm-3">
    <div class="row">
    <div class="thumbnail">
      <%= render "shared/user_profile_photo" %>
      <div class="caption text-center">
        <h4><%= @user.first_name || @user.name %></h4>
        <%= render 'shared/user_status' %>
        <p>Membre depuis <%= @user.message_time_user %></p>
        <% if current_user == @user %>
        <p><%= link_to "Compléter mon profil", edit_user_path(current_user), :style=>'color: red; font-size: 12px;' %></p>
        <% else %>
          <p><i class="fa fa-commenting" aria-hidden="true" style="color: gray;"></i> <%= link_to t(".top_call_to_action", default: "Envoyer un message"), new_message_path(to: @user.id) %></p>
        <% end %>
      </div>
     </div>
    </div>
     <div class="row">
      <div class="panel panel-default" style="padding: 20px;">
      <% if @user.description.nil? || @user.description.empty? %>
        <p><%= @user.first_name || @user.name %> n'a pas encore complété sa description</p>
      <% else %>
        <p style="word-wrap: break-word;"><%= @user.description %></p>
      <% end %>
        </div>
     </div>
    <% if @user.pilote == true %>
      <div class="row">
         <div class="panel panel-default">
          <div class="panel-heading text-center">
            <% if @user == current_user %>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#pilotenotvalidate">
            Mettre à jour
          </button>
          <% else %>
            Informations pilote
          <% end %>
          </div>
           <div class="welcome">
           <%= render 'shared/user_doc' %>
           </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="col-md-9 col-sm-9" style="margin-top: 195px;">

<div class="padded margin-panel">
<% if @user_flight.any? %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title" style="color: #469AE0;">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <i class="fa fa-plane" aria-hidden="true"></i> Mes vols à venir (<%= @user_flight.count %>)
         <i class="glyphicon glyphicon-menu-down pull-right"></i>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
         <div class="row padded margin-panel">
           <% if @user == current_user %>
            <% @ads.each do |ad| %>
            <div class="col-xs-12 col-sm-12 col-md-6">
             <%= render ad %>
            </div>
            <% end %>
            <% else %>
            <% @user_ads.each do |ad| %>
              <div class="col-xs-12 col-sm-12 col-md-6">
             <%= render ad %>
            </div>
            <% end %>
          <% end %>
         </div>
      </div>
    </div>
  </div>
  </div>
<% end %>
</div>


        <div class="row">
        <div class="col-md-9 col-sm-9">
          <div class="margin-panel">
              <% @articles.each do |article| %>
              <div class="panel panel-default panel-article">
                <div class="panel-heading titre-article">
                  <div class="media" style="padding-bottom: 5px;">
                    <div class="media-left">
                     <%= render 'shared/small_current_user_profile_photo' %>
                    </div>
                    <div class="media-body">
                      <div style="font-size: 14px;"><%= @user.name %></div>
                      <div class="user_status"><%= render 'shared/user_status' %></div>
                      <div class="posted">Le <%= I18n.l(article.created_at, format: :short) %></div>

                    </div>
                </div>
                  <% if policy(article).update? %>
                  <div class="dropdown menu-article">
                      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                        <div class="button-article">
                            <li><%= link_to "Mettre à jour", edit_article_path(article) %></li>
                            <li><%= link_to "Effacer", article, method: :delete %></li>
                        </div>
                        </ul>
                    </div>
                    <% end %>
                </div>
                  <div class="article">
                    <div class="description"><p><%= article.description.capitalize %></p></div>
                    <% if article.picture_article != nil %>
                      <p><%= cl_image_tag article.picture_article, class: "picture_article" %></p>
                    <% end %>
                    <% if article.video_url != "" %>
                      <% @v_url = article.video_url %>
                      <% @video_id = (/([\w-]{11})/.match(@v_url)).to_s %>
                      <% @embed_code = "<iframe width='100%' height='360' src='https://www.youtube.com/embed/#{@video_id}' frameborder='0' allowfullscreen></iframe>" %>
                        <div class="video"><p><%= raw(@embed_code) %></p></div>
                    <% end %>
                     <div id="post_title_<%= article.id%>">
                      <%= render 'users/post_title', post: article.posts %>
                     </div>
                      <div class="comment">
                        <div id="comment_<%= article.id%>">
                        <% if article.posts.blank? %>
                          <div id="no-post_<%= article.id%>">
                            <p>Soyez le premier a poster un commentaire</p>
                          </div>
                        <% else %>
                          <p><button type="button" class="" data-toggle="collapse" data-target="#demo<%= article.id %>">Voir - cacher commentaires</button></p>
                          <div class="collapse" id="demo<%= article.id %>">
                            <% article.posts.each do |post| %>
                              <%= render 'posts/show', post: post %>
                            <% end %>
                          </div>
                        <% end %>
                        </div>
<!--                           <%= render 'shared/small_current_user_profile_photo' %>
 -->                          <%= render 'form_post', article: article, post: @post %>
                   </div>
                  </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Contacts proches de
              <% if @user == current_user %>
                moi
              <% else %>
                <%= @user.name %>
              <% end %>
              (<%= @users_near_from_me.size %>)
              </strong></div>
              <% @users_near_from_me.each do |user| %>
              <% if user != current_user %>
                <div class="near-user" style="padding: 5px;">
                  <%= link_to user_path(user) do %>
                     <div class="media" style="padding-bottom: 5px;">
                    <div class="media-left">
                     <%= render 'shared/small_user_profile_photo_near_user', user: user %>
                    </div>
                    <div class="media-body">
                      <div style="font-size: 12px;"><%= user.name || @user.first_name %></div>
                      <div class="user_status">
                        <% if user.pilote? %>
                          <div class="user_status">Pilote à <%= user.hometown %></div>
                          <% else %>
                          <div class="user_status">Passager à <%= user.hometown %></div>
                        <% end %>
                      </div>
                    </div>
                </div>
                <% end %>
                </div>
              <% end %>
              <% end %>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>







<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: white; background-color: #2A628F;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" ><i class="fa fa-paper-plane" aria-hidden="true"></i> Cher(e) <%= current_user.name || current_user.first_name %> Remplissez les détails de votre vol</h4>
      </div>
      <div class="modal-body">
     <%= simple_form_for(@ad) do |f| %>
              <div class="panel panel-primary">
                 <div class="user-form">
                 <div class="form-group">
                    <%= f.select :category, ['Multiaxe', 'Paramoteur', 'Pendulaire', 'Autogire'], {} ,class: "form-control", label: "Entrez votre catogorie d'ULM", wrapper: :horizontal_form, :style => "margin-bottom: 15px;" %>
                    <%= f.input :photo, label: false, placeholder: "Photo de votre ULM", label: "Photo de votre ULM", :input_html => { class: 'hide-profile-field'}, wrapper: :horizontal_form %>
                        <%= f.input :photo_cache, as: :hidden %>
                    <%= f.input :flight_time, label: false, placeholder: "Ex: 40", wrapper: :horizontal_form, label: "Durée du vol en mn" %>
                    <%= f.input :flight_date, wrapper: :horizontal_form, label: false, placeholder: "Date du vol", label: "Quand comptez vous voler" %>
                    <%= f.input :description, label: false, placeholder: "Exemple : Nous allons voler en pendulaire et nous survolerons les chateaux de la Loire, nous décollerons de l'aérodrome de Poitier",:input_html => {:rows => 10}, label: "Soyez créatif", wrapper: :horizontal_form %>
                    <%= f.input :address, label: false, placeholder: "Ex: Antibes", label: "Nous décollerons de...", wrapper: :horizontal_form %>
                    <%= f.input :price, label: false, placeholder: "Prix", label: "Votre tarif", wrapper: :horizontal_form %>
                    </div>
                  </div>
                </div>
      </div>
      <div class="modal-footer" style="color: white; background-color: #2A628F;">
        <%= f.button :submit, value: "Qui m'aime me suive...", class: "pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="pilotenotvalidate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: white; background-color: #2A628F;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" ><i class="fa fa-paper-plane" aria-hidden="true"></i> Cher(e) <%= current_user.name || current_user.first_name %>, veuiller renseigner votre profile sur les points suivants.</h4>
      </div>
      <div class="modal-body">

          <div class="row text-center">
          <%= link_to edit_user_path(current_user) do %>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <%= image_tag "brevet de pilote.png", class: "avatar-xxl" %>
              <p>Brevet de pilote</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <%= image_tag "licence.png", class: "avatar-xxl" %>
              <p>Licence en cours de validité</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <%= image_tag "parapluie.png", class: "avatar-xxl" %>
              <p>Assurance responsabilité civile</p>
            </div>
          <% end %>
      </div>

      </div>
      <div class="modal-footer" style="color: white; background-color: #2A628F;">
      <p>Nous procederons à une vérification de ces documents que vous nous fournissez dans la partie "Compléter mon profil". Et vous pourrez ainsi proposer de merveilleux vols à bord de votre ULM.</p>
      <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>










  <div class="modal fade" id="ModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><i class="fa fa-paper-plane" aria-hidden="true"></i> <%= current_user.name || current_user.first_name %> rédige ton article.</h4>
                </div>
                <div class="modal-body padded">
                   <div class="panel panel-default">
                    <div class="row">
                      <%= simple_form_for(@article) do |art| %>
                        <div class="user-form">
                           <div class="media" style="padding-bottom: 5px;">
                            <div class="media-left">
                             <%= render 'shared/small_current_user_profile_photo' %>
                            </div>
                            <div class="media-body">
                              <div style="font-size: 14px;"><%= @user.name %></div>
                              <div class="user_status"><%= render 'shared/user_status' %></div>
                            </div>
                        </div>
                          <%= art.input :description, :as => :text, required: false, autofocus: true, label: false, placeholder: "Des news concernant votre passion ?", :input_html => {:rows => 4} %>
                          <%= art.input :video_url, required: false, autofocus: true, label: "Publiez une vidéo youtube", placeholder: "Ex : https://www.youtube.com/watch?v=DIMIZPbnfNs", wrapper: :horizontal_form %>
                          <%= art.input :picture_article, label: "Téléchargez une photo", :input_html => { class: 'hide-profile-field' }, wrapper: :horizontal_form %>
                          <%= art.input :picture_article_cache, as: :hidden %>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <%= art.button :submit, value: "Publier", class: "btn pull-right btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
