<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <div class="container">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <span><%= image_tag "favicon.png" %></span>
      <span>MakeMeFly</span>
    </div>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">

     <!-- <%= link_to "Qu'est ce qu'un ULM ?", pages_ulm_path, :class => "navbar-wagon-item navbar-wagon-button btn" %> -->
<!--      <%= link_to "Contact", '#', anchor: "footer", :class => "navbar-wagon-item navbar-wagon-button btn" %>
 -->
     <!-- <%= link_to "Voir tous les pilotes", users_path, :class => "navbar-wagon-item navbar-wagon-button btn" %> -->
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
    <% if current_user.picture? %>
      <%= cl_image_tag current_user.picture, class: "avatar-large" %>
      <% else %>
        <%= image_tag "pilot.png", class: "avatar-large"%>
    <% end %>
    <span style="color: white;"><%= current_user.name.capitalize %></span>
    <%= link_to root_path, :class => "navbar-wagon-item navbar-wagon-button btn" do %>
      <i class="fa fa-home"></i>
     <% end %>
    <%= link_to user_path(current_user), :class => "navbar-wagon-item navbar-wagon-button btn"  do %>
      <i class="fa fa-user"></i>
    <% end %>
    <%= link_to users_path, :class => "navbar-wagon-item navbar-wagon-button btn"  do %>
      <i class="fa fa-users"></i>
    <% end %>
    <%= link_to ads_path, :class => "navbar-wagon-item navbar-wagon-button btn" do %>
      <i class="fa fa-plane"></i>
    <% end %>
    <%= link_to conversations_path, class: "navbar-wagon-item navbar-wagon-button btn" do %>
            <div class="badge-container">
              <i class="fa fa-envelope-o"></i>
<!--               <div class="badge badge-blue">1</div>
 -->            </div>
          <% end %>
    <%= link_to destroy_user_session_path, :class => "navbar-wagon-item navbar-wagon-button btn", method: :delete do %>
      <i class="fa fa-sign-out"></i>
    <% end %>
<!-- Notification -->
    <% else %>
    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Connexion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
      <!-- Login text link -->
    <%= link_to t(".top_call_to_action", default: "Inscription"), pages_subscribe_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <% end %>
  </div>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Connexion", new_user_session_path %></li>
        <li><%= link_to "Qu'est ce qu'un ULM ?", pages_ulm_path %></li>
          <% if user_signed_in?%>
           <li><%= link_to "Mon profile" %></li>
           <% if current_user.pilote? %>
             <li><%= link_to "Publier une annonce", new_ad_path %></li>
             <li><%= link_to "Mes annonces", ads_path %></li>
           <% end %>
           <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% end %>
      </ul>
    </div>
  </div>
</div>


