<!-- <div class="marged"></div> -->

<% if current_user.pilote == nil %>
<div class="wrapper-profile-dashboard top-spacing" style="height: 85vh;">
   <div class="container padded">
  <div class="col-md-3 col-sm-3">
    <div class="row">
    <div class="thumbnail">
      <%= render "shared/current_user_profile_photo" %>
      <div class="caption text-center">
        <h4><%= current_user.first_name || current_user.name %></h4>
      </div>
     </div>
    </div>
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="row">
           <div class="panel panel-default margin-panel">
            <div class="panel-heading">Cher <%= current_user.first_name || current_user.name %>, bienvenue sur MakeMeFly</div>
             <div class="welcome">
              <p><strong>Bonjour et bienvenue sur le premier site de réservation de vol en ULM entre particuliers.</strong></p>
              <p>MakeMeFly vous permet :
              <ul>
                <li>D'effectuer des réservations de vol en ULM avec des pilotes expérimentés.</li>
                <li>De proposer des vols avec votre ULM.</li>
                <li>De compléter et alimenter votre compte en publiant des articles, vidéos et récits de vos vols avec la communauté. Votre compte est comme un carnet de vol virtuel.</li>
                <li>D'envoyer des messages aux autres utilisateurs de la communauté.</li>
              </ul>
             </p>
             </div>
             <div class="button text-center padded">
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalStatusUser">
                Je commence
              </button>
              </div>
              </div>
          </div>
    </div>
  </div>
</div>
<% elsif current_user.pilote == true %>
<div class="wrapper-profile-dashboard top-spacing">
  <%= render 'shared/subnavbar' %>
  <div class="container padded">
 <%= render 'shared/user_profile_pilote' %>
    <div class="col-md-9 col-sm-9">
    <div class="panel-explication">
    <div class="row">
       <div class="panel panel-default margin-panel">
        <div class="panel-heading">Cher pilote, bienvenue sur MakeMeFly

        </div>
         <div class="welcome">
         <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Conditions générales
          </button></p>
          <p><strong>Bonjour et bienvenue sur le premier site de réservation de vol en ULM entre particuliers.</strong></p>
          <p>Vous projetez de voler et votre aéronef vous permet l'emport d'un passager, il vous est possible de proposer cette place disponible. Cependant vous devez au préalable :
          <ul>
            <li>
            <div><%= link_to "Complétez votre profil", edit_user_path(current_user), class: "title-welcome" %></div>
            Renseignez votre profil (fortement recommandé) afin de rassurer les utilisateurs sur votre expérience de pilote, téléchargez une photo de vous et de votre ULM.</li>
            <li><p><div class="title-welcome">Fournir vos documents nécéssaires à l'exercice du vol en ULM en France. (Obligatoire)</div>
            <ul>
              <li>Brevet de pilote ULM</li>
              <li>Assurance RC</li>
              <li>Licence ULM de l'année en cours</li>
            </ul>
            </p>
            </li>
          </ul>
          </p>
          <p style="color: red;">Nous procederons à une vérification de ces documents que vous nous fournissez dans la partie "Compléter mon profil". Et vous pourrez ainsi proposer de merveilleux vols à bord de votre ULM. </p>
          <p style="color: blue; font-weight: bold;">Votre validation en qualité de pilote vous sera envoyé par mail.</p>
          </div>
      </div>
    </div>
    <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">MAKEMEFLY</div>
    <div class="welcome">
      <p>MakeMeFly vous permet :
        <ul>
          <li>D'effectuer des réservations de vol en ULM avec des pilotes expérimentés.</li>
          <li>De proposer des vols en ULM.</li>
          <li>De compléter et alimenter votre compte en <%= link_to "publiant des articles", new_article_path(current_user)%>, vidéos et récits de vos vols avec la communauté. Votre compte est comme un carnet de vol virtuel.</li>
          <li>D'envoyer des messages aux autres utilisateurs de la communauté.</li>
        </ul>
         </p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Réglage de votre marketing</div>
    <div class="welcome">
    <p><strong>Lorsque vous proposez un vol</strong>, un mail est envoyé à tous les utilisateurs dans les <strong>100 km</strong> (valeur par défault) autour de vous.</p>
    <p>Quand vous proposez un vol, il sera automatiquement proposé aux utilisateurs ayant un compte MakeMeFly de votre région.</p>
    <p>Vous pouvez modifier la valeur kilométrique et ainsi modifier votre rayon d'action. </p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Notifications et avertissements</div>
    <div class="welcome">
    <p>Je suis avertis par mail lorsqu'un autre pilote propose un vol dans votre région.</p>
    <p>Je suis avertis lorsqu'un nouveau pilote de votre région arrive sur Makemefly. </p>
      </div>
      </div>
    </div>
    <%= link_to "Compléter mon profil", edit_user_path(current_user), class: "btn btn-primary" %>
    </div>
  </div>
</div>
</div>
<% else %>
<div class="wrapper-profile-dashboard top-spacing">
<%= render 'shared/subnavbar' %>
  <div class="container padded">
  <div class="col-md-3 col-sm-3">
    <div class="row">
    <div class="thumbnail">
      <%= render "shared/current_user_profile_photo" %>
      <div class="caption text-center">
        <h4>Passager <%= current_user.name || current_user.first_name %></h4>
      </div>
     </div>
    </div>
    </div>
    <div class="col-md-9 col-sm-9">
    <div class="panel-explication">
    <div class="row">
       <div class="panel panel-default margin-panel">
        <div class="panel-heading">Cher passager, bienvenue sur MakeMeFly</div>
         <div class="welcome">
          <p><strong>Bonjour et bienvenue sur le premier site de réservation de vol en ULM entre particuliers.</strong></p>
          <p>Il arrive souvent que des pilotes aillent voler durant leur temps libre avec une place disponible.</p>
          <p><strong>Il vous est désormais possible de réserver cette place disponible.</strong></p>
          <p>Vous avez déjà volé en ULM ou il s'agit de la première fois, alors n'hésitez plus ! Des pilotes non professionnelles proposent des vols loisirs tous les jours sans doute près de chez vous. Il le font pour partager leur passion avec vous.</p>
          <p>Le montant des partages de frais est à l'initiative des pilotes.</p>
           <p>Cependant vous devez au préalable :</p>
          <ul>
            <li>
            <div><%= link_to "Complétez votre profil", edit_user_path(current_user), class: "title-welcome" %></div>
            Renseignez votre profil (fortement recommandé) afin de dire qui vous êtes à la communauté. Nous donnons l'opportunié de décrire votre "wish-list". Dites nous où vous voulez voler, dans quel type d'ULM (pendulaire, paramoteur, multiaxe, autogire)</li>
          </ul>
          </p>
          </div>
      </div>
    </div>
    <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">MAKEMEFLY</div>
    <div class="welcome">
      <p>MakeMeFly vous permet :
        <ul>
          <li>D'effectuer des réservations de vol en ULM avec des pilotes expérimentés.</li>
          <li>De compléter et alimenter votre compte en postant des vidéos et récits de vos vols avec vos pilotes. Votre compte est comme un carnet de vol virtuel.</li>
          <li>D'envoyer des messages aux autres utilisateurs.</li>
        </ul>
         </p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Réglage de votre marketing</div>
    <div class="welcome">
    <p><strong>Lorsque vous créez un compte</strong>, un mail est envoyé à tous les utilisateurs dans les <strong>100 km</strong> (valeur par défault) autour de vous.</p>
    <p>Quand un pilote propose un vol, il sera automatiquement proposé aux utilisateurs ayant un compte MakeMeFly de votre région.</p>
    <p>Vous pouvez modifier la valeur kilométrique et ainsi modifier votre rayon d'action. </p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Notifications et avertissements</div>
    <div class="welcome">
    <p>Vous êtes avertis par mail lorsqu'un autre pilote propose un vol dans votre région.</p>
    <p>Vous êtes avertis lorsqu'un nouveau pilote de votre région arrive sur Makemefly. </p>
      </div>
      </div>
    </div>
    <%= link_to "Compléter mon profil", edit_user_path(current_user), class: "btn btn-primary" %>
    </div>
  </div>
</div>
</div>
<% end %>


<!-- Modal -->
          <div class="modal fade" id="ModalStatusUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%= current_user.name || current_user.first_name %>, choisis ton camp !</h4>
                </div>
                <div class="modal-body text-center padded">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="thumbnail pilote-modal">
                       <h3>Je suis pilote ULM</h3>
                     <%= link_to t(".top_call_to_action", default: "Je continue"), pages_dashboard_path(:pilote => true),class: "button-feature" %>
                  </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="thumbnail passager-modal">
                      <h3>Je suis passager</h3>
                         <%= link_to t(".top_call_to_action", default: "Je continue"), pages_dashboard_path(:pilote => false), class: "button-feature" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
              </div>
            </div>
          </div>









          <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Conditions générales</h4>
      </div>
      <div class="modal-body">
          <div class="panel panel-primary">
          <div class="panel-heading"><i class="fa fa-user" aria-hidden="true"></i> Cher(e) <%= current_user.first_name || current_user.name %></div>
           <div class="new-ad-text">
           <p>Voici les conditions générales permettant de donner aux pilotes les bases sur lesquelles les vols doivent être apprehendés : </p>
           <h3 class="titre-cg">Quelles sont les conditions pour un pilote de proposer un vol partagé ?</h3>
           <p>L’article 6 § 4bis a) du Règlement (UE) n° 965/2012 du 5 octobre 2012 autorise, par dérogation, l'exploitation "d'aéronefs à motorisation non complexe" sous la forme de « vols à frais partagés effectués par des particuliers, à condition que le coût direct soit réparti entre tous les occupants de l’appareil, y compris le pilote, et que le nombre de personnes supportant le coût direct ne dépasse pas six »

            <h3 class="titre-cg">Comment déterminer les coûts qui peuvent être inclus dans le partage des frais et qui doit les payer ?</h3>

           <p>L’article 6 §4bis a) du Règlement (UE) n° 965/2012 du 5 octobre 2012 prévoit qu’il ne peut s’agit que de coûts directs.</p>

            <p>Le GM2 Article 6.4a(a);(b) de l’Air OPS (Cover Regulation) publié par l’EASA précise que les coûts directs sont ceux intrinsèquement liés au vol, à savoir le carburant, les frais d’aéroport, ainsi que les frais de location de l’aéronef s’il s’agit d’un aéronef loué.</p>

            <p>Ainsi le pilote ne pourra pas demander à ses passagers de participer au coût d’amortissement de l’ULM lorsqu’il en est propriétaire, ou aux coûts de stationnement, d’assurance et d’entretien.</p>

            <p>Le montant de la participation est donc déterminé par le pilote et doit veiller à la cohérence des tarifs proposés au regard des caractéristiques de l’aéronef en cause et du trajet proposé.</p>

            <h3 class="titre-cg">Que dit la réglementation sur les conditions de réalisation du vol ?</h3>

            <p>Les conditions de réalisation du vol sont précisées à l’annexe VII du Règlement 965/2012 relative à l’exploitation d’aéronefs à motorisation non complexe à des fins non commerciales.</p>

            <p>Ce sont essentiellement des exigences techniques reprenant les règles de l’air, tels que les équipements, le matériel à embarquer (fusibles de rechange, matériel de secours), la documentation, les minima opérationnels, les aérodromes de dégagement, c’est-à-dire les obligations réglementaires qui s’imposent à tout pilote privé, quel que soit le type de vol entrepris, individuel, à titre gracieux ou à frais partagés.</p>

            <h3 class="titre-cg">Quel est le risque majeur du non-respect des conditions du vol à frais partagés pour le pilote ?</h3>

            <p>A défaut d’adéquation de la participation, le transport sera requalifié en transport à titre onéreux au sens de l’article L 6412-1 du code des transports, soumis aux règles du transport public, notamment à l’exigence d’un certificat de transporteur aérien prévue par l’article L 6412-2 du même code.</p>



            <p>L’exploitant de l’aéronef sera alors exposé à la sanction pénale prévue par l’article L 6232-6 du code des transports (un an d’emprisonnement et 75000 € d’amende pour exploitation d’un aéronef pour une ou plusieurs opérations de transport aérien public sans certificat de transporteur aérien).</p>


            <p>L’exploitant est en l’occurrence le pilote qui se trouve aux commandes de l’aéronef et qui retire le bénéfice de l’exploitation.</p>

            <h3>Le coavionnage reste basé sur la confiance envers son pilote</h3>

            <p>Il n’en reste pas moins que le vol à frais partagés reste fondé sur la « confiance » envers le pilote – dont il n’est pas évident d’apprécier les qualités par la voie du virtuel. <strong>Une mise à disposition des licences à jour, des attestations d’assurance, du certificat d’examen de navigabilité de l’avion, voire de la dernière page du carnet de vol</strong> via la plateforme pourrait permettre d’appréhender dans un premier temps l’expérience du pilote. Les commentaires et votes favorables ou non des précédents passagers complèteront l’information. Le pilote pourrait d’ailleurs s’appuyer sur une check list proposée dans leur description reprenant les principaux points du pilotage de base qu'il doit respecter <strong>(météo, visite prévol, check list, respect des hauteurs et distances de sécurité, etc…).</strong></p>

         </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">J'accepte</button>
      </div>
    </div>
  </div>
</div>
