<!-- <div class="marged"></div> -->

<% if current_user.pilote? %>
<div class="wrapper-profile-dashboard top-spacing">
  <%= render 'shared/subnavbar' %>
  <div class="container">
  <div class="col-md-3 col-sm-3">
    <div class="row">
    <div class="thumbnail">
      <% if current_user.picture? %>
      <%= cl_image_tag current_user.picture %>
      <% elsif current_user.facebook_picture_url? %>
        <%= image_tag current_user.facebook_picture_url %>
        <% else %>
        <%= image_tag "pilot.png" %>
      <% end %>
      <div class="caption text-center">
        <h4>Pilote <%= current_user.name %></h4>
          <p><%= link_to "Compléter mon profil", edit_user_path(current_user), :style=>'color: red; font-size: 12px;' %></p>
      </div>
     </div>
    </div>
    <div class="row">
       <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i>
Informations non vérifiées</div>
         <div class="info-pilote">
          <p>Brevet de pilote   <i class="fa fa-times" aria-hidden="true"></i></p>
          <p>Assurance RC   <i class="fa fa-times" aria-hidden="true"></i></p>
          <p>Licence ULM   <i class="fa fa-times" aria-hidden="true"></i></p>
         </div>
      </div>
    </div>
    <div class="row">
       <div class="panel panel-default">
        <div class="panel-heading">J'ai proposé <%= policy_scope(Ad).count %> vol(s)</div>
         <div class="info-pilote">
          <p><%= link_to "Voir mes vols", ads_path, class: "btn btn-warning" %></p>
         </div>
      </div>
    </div>
    </div>
    <div class="col-md-9 col-sm-9">
    <div class="panel-explication">
    <div class="row">
       <div class="panel panel-default margin-panel">
        <div class="panel-heading">Cher pilote, bienvenue sur MakeMeFly</div>
         <div class="welcome">
          <p><strong>Bonjour et bienvenue sur le premier site de reservation de vol en ULM entre particuliers.</strong></p>
          <p>Vous projetez de voler et votre aéronef vous permet l'emport d'un passager, il vous est possible de proposer cette place de disponible. Cependant vous devez au préalable :
          <ul>
            <li>
            <div><%= link_to "Complétez votre profil", edit_user_path(current_user), class: "title-welcome" %></div>
            Renseignez votre profil (fortement recommandé) afin de rassurer les utilisateurs sur votre expérience de pilote, téléchargez une photo de vous et de votre ULM</li>
            <li><p><div class="title-welcome">Fournissez vos documents nécéssaires à l'exercice du vol en ULM en France. (Obligatoire)</div>
            <ul>
              <li>Brevet de pilote ULM</li>
              <li>Assurance RC</li>
              <li>Licence ULM de l'année en cours</li>
            </ul>
            </p>
            </li>
          </ul>
          </p>
          <p>Nous procederons à une vérification des documents que vous nous fournissez dans la partie "Compléter mon profil". Et vous pourrez ainsi proposer de merveilleux vols à bord de votre ULM. </p>
          </div>
      </div>
    </div>
    <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">MAKEMEFLY</div>
    <div class="welcome">
      <p>MakeMeFly vous permet :
        <ul>
          <li>D'effectuer des reservations de vol en ULM avec des pilotes non professionnels.</li>
          <li>De proposer des vols en ULM.</li>
          <li>De compléter et alimenter votre compte en <%= link_to "publiant des articles", new_article_path(current_user)%>, vidéos et recits de vos vols avec la communauté. Votre compte est comme un carnet de vol virtuel.</li>
          <li>D'envoyer des messages aux autres utilisateurs de la communauté.</li>
        </ul>
         </p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Réglage de votre marketing</div>
    <div class="welcome">
    <p><strong>Lorsque vous créez un compte ou lorsque vous proposez un vol</strong>, un mail est envoyé à tous les utilisateurs dans les <strong>100 km</strong> (valeur par défault) autour de vous.</p>
    <p>Quand vous proposez un vol, il sera automatiquement proposé aux utilisateurs ayant un compte MakeMeFly de votre région.</p>
    <p>Vous pouvez modifier la valeur kilométrique et ainsi modifier votre rayon d'action. </p>
    <p>Je suis avertis par mail lorsqu'un autre pilote propose un vol dans votre région.</p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Notifications et avertissements</div>
    <div class="welcome">
    <p>Je suis avertis par mail lorsqu'un autre pilote propose un vol dans votre région.</p>
    <p>Je suis avertis lorsqu'un nouveau pilote de votre région arrive sur Makemefly. </p>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
<% else %>
<div class="wrapper-profile-dashboard top-spacing">
<%= render 'shared/subnavbar' %>
  <div class="container">
  <div class="col-md-3 col-sm-3">
    <div class="row">
    <div class="thumbnail">
      <% if current_user.picture? %>
      <%= cl_image_tag current_user.picture %>
      <% elsif current_user.facebook_picture_url? %>
        <%= image_tag current_user.facebook_picture_url %>
        <% else %>
        <%= image_tag "pilot.png" %>
      <% end %>
      <div class="caption text-center">
        <h4>Passager <%= current_user.name %></h4>
      </div>
     </div>
    </div>
    </div>
    <div class="col-md-9 col-sm-9">
    <div class="panel-explication">
    <div class="row">
       <div class="panel panel-default margin-panel">
        <div class="panel-heading">Cher passager, bienvenue sur MakeMeFly</div>
         <div class="welcome">
          <p><strong>Bonjour et bienvenue sur le premier site de reservation de vol en ULM entre particuliers.</strong></p>
          <p>Il arrive souvent que des pilotes aillent voler durant leur temps libre avec une place de disponible.</p>
          <p><strong>Il vous est désormais possible de reserver cette place de disponible.</strong></p>
          <p>Vous avez déjà volé en ULM ou il s'agit de la premiere fois, alors n'hésitez plus ! Des pilotes non professionnelles proposent des vols loisirs tous les jours sans doute près de chez vous. Il le font pour partager leur passion avec vous.</p>
          <p>Le montant des partages de frais est à l'initiative des pilotes.</p>
           <p>Cependant vous devez au préalable :</p>
          <ul>
            <li>
            <div><%= link_to "Complétez votre profil", edit_user_path(current_user), class: "title-welcome" %></div>
            Renseignez votre profil (fortement recommandé) afin de dire qui vous êtes à la communauté. Nous donnons l'opportunié de décrire votre "wish-list". Dites nous où vous voulez voler, dans quel type d'ULM (pendulaire, paramoteur, multiaxe, autogire)</li>
          </ul>
          </p>
          </div>
      </div>
    </div>
    <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">MAKEMEFLY</div>
    <div class="welcome">
      <p>MakeMeFly vous permet :
        <ul>
          <li>D'effectuer des reservations de vol en ULM avec des pilotes non professionnels.</li>
          <li>De compléter et alimenter votre compte en postant des vidéos et recits de vos vols avec vos pilotes. Votre compte est comme un carnet de vol virtuel.</li>
          <li>D'envoyer des messages aux autres utilisateurs.</li>
        </ul>
         </p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Réglage de votre marketing</div>
    <div class="welcome">
    <p><strong>Lorsque vous créez un compte</strong>, un mail est envoyé à tous les utilisateurs dans les <strong>100 km</strong> (valeur par défault) autour de vous.</p>
    <p>Quand un pilote propose un vol, il sera automatiquement proposé aux utilisateurs ayant un compte MakeMeFly de votre région.</p>
    <p>Vous pouvez modifier la valeur kilométrique et ainsi modifier votre rayon d'action. </p>
    <p>Je suis avertis par mail lorsqu'un autre pilote propose un vol dans votre région.</p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Notifications et avertissements</div>
    <div class="welcome">
    <p>Je suis avertis par mail lorsqu'un autre pilote propose un vol dans votre région.</p>
    <p>Je suis avertis lorsqu'un nouveau pilote de votre région arrive sur Makemefly. </p>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
<% end %>

