<!-- <div class="marged"></div> -->

<% if current_user.pilote == nil %>
<div class="wrapper-profile-dashboard top-spacing" style="height: 85vh;">
   <div class="container padded">
  <div class="col-md-3 col-sm-3">
    <div class="row">
    <div class="thumbnail">
      <%= render "shared/current_user_profile_photo" %>
      <div class="caption text-center">
        <h4><%= current_user.first_name || current_user.name.capitalize %></h4>
      </div>
     </div>
    </div>
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="row">
           <div class="panel panel-default margin-panel">
            <div class="panel-heading">Cher <%= current_user.first_name || current_user.name.capitalize %>, bienvenue sur MakeMeFly</div>
             <div class="welcome">
              <p><strong>Bonjour et bienvenue sur le premier site de réservation de vol en ULM entre particuliers.</strong></p>
              <p>MakeMeFly vous permet :
              <ul>
                <li>D'effectuer des réservations de vol en ULM avec des pilotes expérimentés.</li>
                <li>De proposer des vols avec votre ULM.</li>
                <li>De compléter et alimenter votre compte en publiant des articles, vidéos et récits de vos vols avec la communauté. Votre compte est comme un carnet de vol virtuel.</li>
                <li>D'envoyer des messages aux autres utilisateurs de la communauté.</li>
              </ul>
             </p>
             </div>
             <div class="button text-center padded">
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalStatusUser">
                Je commence
              </button>
              </div>
              </div>
          </div>
    </div>
  </div>
</div>
<% elsif current_user.pilote == true %>
<div class="wrapper-profile-dashboard top-spacing">
  <%= render 'shared/subnavbar' %>
  <div class="container padded">
 <%= render 'shared/user_profile' %>
    <div class="col-md-9 col-sm-9">
    <div class="panel-explication">
    <div class="row">
       <div class="panel panel-default margin-panel">
        <div class="panel-heading">Cher pilote, bienvenue sur MakeMeFly</div>
         <div class="welcome">
          <p><strong>Bonjour et bienvenue sur le premier site de réservation de vol en ULM entre particuliers.</strong></p>
          <p>Vous projetez de voler et votre aéronef vous permet l'emport d'un passager, il vous est possible de proposer cette place disponible. Cependant vous devez au préalable :
          <ul>
            <li>
            <div><%= link_to "Complétez votre profil", edit_user_path(current_user), class: "title-welcome" %></div>
            Renseignez votre profil (fortement recommandé) afin de rassurer les utilisateurs sur votre expérience de pilote, téléchargez une photo de vous et de votre ULM</li>
            <li><p><div class="title-welcome">Fournissez vos documents nécéssaires à l'exercice du vol en ULM en France. (Obligatoire)</div>
            <ul>
              <li>Brevet de pilote ULM</li>
              <li>Assurance RC</li>
              <li>Licence ULM de l'année en cours</li>
            </ul>
            </p>
            </li>
          </ul>
          </p>
          <p style="color: red;">Nous procederons à une vérification de ces documents que vous nous fournissez dans la partie "Compléter mon profil". Et vous pourrez ainsi proposer de merveilleux vols à bord de votre ULM. </p>
          <p style="color: blue; font-weight: bold;">Votre validation en qualité de pilote vous sera envoyé par mail.</p>
          </div>
      </div>
    </div>
    <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">MAKEMEFLY</div>
    <div class="welcome">
      <p>MakeMeFly vous permet :
        <ul>
          <li>D'effectuer des réservations de vol en ULM avec des pilotes expérimentés.</li>
          <li>De proposer des vols en ULM.</li>
          <li>De compléter et alimenter votre compte en <%= link_to "publiant des articles", new_article_path(current_user)%>, vidéos et récits de vos vols avec la communauté. Votre compte est comme un carnet de vol virtuel.</li>
          <li>D'envoyer des messages aux autres utilisateurs de la communauté.</li>
        </ul>
         </p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Réglage de votre marketing</div>
    <div class="welcome">
    <p><strong>Lorsque vous proposez un vol</strong>, un mail est envoyé à tous les utilisateurs dans les <strong>100 km</strong> (valeur par défault) autour de vous.</p>
    <p>Quand vous proposez un vol, il sera automatiquement proposé aux utilisateurs ayant un compte MakeMeFly de votre région.</p>
    <p>Vous pouvez modifier la valeur kilométrique et ainsi modifier votre rayon d'action. </p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Notifications et avertissements</div>
    <div class="welcome">
    <p>Je suis avertis par mail lorsqu'un autre pilote propose un vol dans votre région.</p>
    <p>Je suis avertis lorsqu'un nouveau pilote de votre région arrive sur Makemefly. </p>
      </div>
      </div>
    </div>
    <%= link_to "Compléter mon profil", edit_user_path(current_user), class: "btn btn-primary" %>
    </div>
  </div>
</div>
</div>
<% else %>
<div class="wrapper-profile-dashboard top-spacing">
<%= render 'shared/subnavbar' %>
  <div class="container padded">
  <div class="col-md-3 col-sm-3">
    <div class="row">
    <div class="thumbnail">
      <%= render "shared/current_user_profile_photo" %>
      <div class="caption text-center">
        <h4>Passager <%= current_user.name || current_user.first_name %></h4>
      </div>
     </div>
    </div>
    </div>
    <div class="col-md-9 col-sm-9">
    <div class="panel-explication">
    <div class="row">
       <div class="panel panel-default margin-panel">
        <div class="panel-heading">Cher passager, bienvenue sur MakeMeFly</div>
         <div class="welcome">
          <p><strong>Bonjour et bienvenue sur le premier site de réservation de vol en ULM entre particuliers.</strong></p>
          <p>Il arrive souvent que des pilotes aillent voler durant leur temps libre avec une place disponible.</p>
          <p><strong>Il vous est désormais possible de réserver cette place disponible.</strong></p>
          <p>Vous avez déjà volé en ULM ou il s'agit de la première fois, alors n'hésitez plus ! Des pilotes non professionnelles proposent des vols loisirs tous les jours sans doute près de chez vous. Il le font pour partager leur passion avec vous.</p>
          <p>Le montant des partages de frais est à l'initiative des pilotes.</p>
           <p>Cependant vous devez au préalable :</p>
          <ul>
            <li>
            <div><%= link_to "Complétez votre profil", edit_user_path(current_user), class: "title-welcome" %></div>
            Renseignez votre profil (fortement recommandé) afin de dire qui vous êtes à la communauté. Nous donnons l'opportunié de décrire votre "wish-list". Dites nous où vous voulez voler, dans quel type d'ULM (pendulaire, paramoteur, multiaxe, autogire)</li>
          </ul>
          </p>
          </div>
      </div>
    </div>
    <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">MAKEMEFLY</div>
    <div class="welcome">
      <p>MakeMeFly vous permet :
        <ul>
          <li>D'effectuer des réservations de vol en ULM avec des pilotes expérimentés.</li>
          <li>De compléter et alimenter votre compte en postant des vidéos et récits de vos vols avec vos pilotes. Votre compte est comme un carnet de vol virtuel.</li>
          <li>D'envoyer des messages aux autres utilisateurs.</li>
        </ul>
         </p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Réglage de votre marketing</div>
    <div class="welcome">
    <p><strong>Lorsque vous créez un compte</strong>, un mail est envoyé à tous les utilisateurs dans les <strong>100 km</strong> (valeur par défault) autour de vous.</p>
    <p>Quand un pilote propose un vol, il sera automatiquement proposé aux utilisateurs ayant un compte MakeMeFly de votre région.</p>
    <p>Vous pouvez modifier la valeur kilométrique et ainsi modifier votre rayon d'action. </p>
      </div>
      </div>
    </div>
     <div class="row">
    <div class="panel panel-default margin-panel">
    <div class="panel-heading">Notifications et avertissements</div>
    <div class="welcome">
    <p>Vous êtes avertis par mail lorsqu'un autre pilote propose un vol dans votre région.</p>
    <p>Vous êtes avertis lorsqu'un nouveau pilote de votre région arrive sur Makemefly. </p>
      </div>
      </div>
    </div>
    <%= link_to "Compléter mon profil", edit_user_path(current_user), class: "btn btn-primary" %>
    </div>
  </div>
</div>
</div>
<% end %>


<!-- Modal -->
          <div class="modal fade" id="ModalStatusUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%= current_user.name || current_user.first_name %>, choisis ton camp !</h4>
                </div>
                <div class="modal-body text-center padded">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="thumbnail pilote-modal">
                       <h3>Je suis pilote ULM</h3>
                     <%= link_to t(".top_call_to_action", default: "Je continue"), pages_dashboard_path(:pilote => true),class: "button-feature" %>
                  </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="thumbnail passager-modal">
                      <h3>Je suis passager</h3>
                         <%= link_to t(".top_call_to_action", default: "Je continue"), pages_dashboard_path(:pilote => false), class: "button-feature" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
              </div>
            </div>
          </div>
