
    <!-- BANNER HOME -->

<div class="banner">
  <div class="banner-content">
    <h1>MAKE ME FLY</h1>
    <h2>Vivez une expérience de vol exceptionnelle en ULM !</h2>

    <!-- SEARCH BAR -->
    <div class="padded">
      <form action="<%= search_ads_path %>" class="form-inline text-center">
        <input name="q" type="text" class="form-control text-center" placeholder="Exemple 'Nîmes'">
        <input type="submit" value="Recherchez" class="btn btn-danger">
      </form>
      <div class="compteur">
         <span class="count"><%= Ad.count %></span>
         <p>vols disponibles</p>
      </div>
    </div>
  </div>
</div>


<!-- FEATURES -->

<div class="wrapper-grey padded">
  <div class="container">
  <h2 class ="text-center">Simple et rapide</h2>
  <br>
    <div class="row">
      <div class="col-md-3 col-xs-12 text-center">
        <div class="feature-size">
          <i class="fa fa-search-plus"></i>
        </div>
        <h2 class="text-center">SIMPLE</h2>
        <p class="text-center" >Choisissez où vous voulez voler</p>
      </div>
      <div class="col-md-3 col-xs-12 text-center">
        <div class="feature-size">
          <i class="fa fa-lock"></i>
        </div>
        <h2 class="text-center">SECURISE</h2>
        <p class="text-center">Réservez en ligne</p>
      </div>
       <div class="col-md-3 col-xs-12 text-center">
        <div class="feature-size">
          <i class="fa fa-clock-o"></i>
        </div>
        <h2 class="text-center">FIABLE</h2>
        <p class="text-center">Recevez une confirmation rapide</p>
      </div>
      <div class="col-md-3 col-xs-12 text-center">
        <div class="feature-size">
          <i class="fa fa-paper-plane"></i>
        </div>
        <h2 class="text-center">CONVIVIAL</h2>
        <p class="text-center">Volez !</p>
      </div>
    </div>
  </div>
</div>



<div class="banner banner-parallax banner-parallax1" data-stellar-background-ratio="0.5">
  <div class="banner-filter"></div>
  <div class="banner-content-parallax text-center">
    <span>Découvrez les vols en ULM prés de chez vous.</span>
    <p>Les ULM ont été conçus comme un moyen de loisirs aérien, plus simple et moins couteux que l'aviation de tourisme habituelle.</p>
    <p class="italic"> Donnez vous la chance d'essayer.</p>
  </div>
</div>










<script>

$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>





<!-- <div class="progress" id="progress"></div>
<script>

window.onload = function onLoad() {
    var circle = new ProgressBar.Circle('#progress', {
        color: '#FCB03C',
        duration: 3000,
        easing: 'easeOut'
    });

    circle.animate(1);
};
</script> -->

















<h2 class ="text-center">Voici les vols planifiés près de chez vous</h2>
<p class ="text-center">Découvrez la passion de pilotes expérimentés</p>

<br>

 <!-- CARDS -->

<div class="container">
  <div class="row">
  <% @ads.each do |ad| %>
  <%= render ad %>
  <% end %>
  </div>
</div>
</div>



<div class="container text-center">
  <div class="btn-group padded-basket">
    <div class="row">
      <%= link_to "Voir tous les vols", ads_path, :class => "btn btn-danger" %>
      <%= link_to "Voir tous les pilotes", users_path, :class => "btn btn-danger" %>
      <%= link_to "Créez une annonce", new_ad_path, :class => "btn btn-danger" %>
    </div>
  </div>
</div>



<div class="container text-center">

  <h3 class ="text-center">Nos meilleures offres dans votre inbox</h3>

  <form class="form-inline">
  <input placeholder="Votre adresse email" class="form-control" type="email" name="email">
  <button type="submit" class="navbar-wagon-item navbar-wagon-button btn">M'inscrire</button>
  </form>

</div>



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

 <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "paramoteur.jpg"%>
      <div class="carousel-caption">
        <h2>Paramoteur</h2>
      </div>
    </div>
    <div class="item">
    <%= image_tag "pendulaire.jpeg"%>
      <div class="carousel-caption">
        <h2>Pendulaire</h2>
      </div>
    </div>
    <div class="item">
    <%= image_tag "multiaxe.jpg"%>
      <div class="carousel-caption">
        <h2>Multiaxe</h2>
      </div>
    </div>
  </div>
 <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
