<div class="banner img-responsive">
  <div class="wrapper">
    <div class="banner-content">
      <h1>MAKEMEFLY</h1>
      <div class="hidden-xs">
        <h2>Découvrez le monde comme un oiseau.</h2>
      <h2 style="font-weight: lighter; color: white;">Le premier site de reservation de vol loisir entre particuliers.</h2>
      </div>

      <hr>
      <%= render 'shared/formulaire' %>
  </div>
  </div>

  </div>


<div class="text-center">
    <div class="title_flight">
   <p>
   Nouveaux vols
   <%= link_to 'Voir tous les vols', search_ads_path(all_flight: 'all_flight'), class: "btn btn-primary" %>
   </p>
 </div>



 </div>
  <div class="wrapper-card padded">
    <div class="container">
       <div class="row">
         <div class="reveal">
            <% @ads.each do |ad| %>
                <% if ad.user.pilotevalidation == false %>
                <div class="col-xs-12 col-sm-12 col-md-4">
                <%= render ad %>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
    </div>
    <!-- FEATURES 2-->


<div class="text-center" style="background-color: #2A628F; font-size: 25px; color: white; padding: 30px;">
<% if user_signed_in? %>
Bienvenue <%=  current_user.first_name || current_user.name.capitalize %>
<p>Partagez vos vols et volez en toute sécurité entre particuliers sur MakeMeFly</p>
<% else %>
<p>Partagez vos vols et volez en toute sécurité entre particuliers sur MakeMeFly</p>
      <%= link_to new_user_registration_path, class: "btn-lg btn-primary" do %>
      <i class="fa fa-user-plus" aria-hidden="true"></i> Rejoignez MakeMeFly
      <% end %>
  <!-- <div class="banner-user-disconnect" id="banner-user-disconnect">
  <button type="button" onclick="close_banner()" class="btn btn-link" id="close-button">Fermer</button>
    <p>Connectez-vous pour profiter pleinement de MakeMeFly</p>
    <p><%= link_to t(".top_call_to_action", default: "Je m'inscris"), new_user_registration_path, class: "btn-lg btn-primary" %>
  </p>
  </div> -->
<% end %>

</div>




<div class="padded" style="background-color: #F8F8F8;">
  <div class="container spacing" style="padding: 40px 0px 40px;">
  <br>
    <div class="row" style="font-size: 10px;">
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="feature-size">
          <%= image_tag "passenger.png" %>
        </div>
        <h4 class="text-center">PASSAGER</h4>
        <p class="text-center" >Trouvez un vol facilement et volez pas chère avec un pilote de votre région.</p>
        <!-- <%= link_to 'Voir les vols', search_ads_path(all_flight: 'all_flight'), class: "btn btn-default" %> -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="feature-size">
         <%= image_tag "pilot-feature.png" %>
        </div>
        <h4 class="text-center">PILOTE</h4>
        <p class="text-center">Publiez gratuitement vos annonces, réduisez vos frais en partageant votre passion.</p>
        <!-- <p><%= link_to "Proposer un vol",new_ad_path, :class => "btn btn-default" %></p></p> -->
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="feature-size">
          <%= image_tag "policy.png" %>
        </div>
        <h4 class="text-center">FIABLE</h4>
        <p class="text-center">Recevez une confirmation rapide et organisez votre vol avec votre pilote grâce à la messagerie de MakeMeFly</p>
      </div>
    </div>
  </div>
</div>






<div class="wrapper marged">
  <p class="text-center padded title-feature">Que vous soyez chevronné ou débutant, rencontrez et volez avec nos pilotes.</p>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="crop">
          <%= link_to search_ads_path(category: "Pendulaire") do %>
          <%= image_tag 'pendulaire.jpg', width: "150%"%>
          <% end %>
          <p>PENDULAIRE</p>
          <div class="bandeau">
          <% @pilote_pendulaire.uniq.each do |pilote_pendulaire| %>
            <% if pilote_pendulaire.picture? %>
              <%= cl_image_tag pilote_pendulaire.picture, class: "avatar-comment" %>
              <% elsif pilote_pendulaire.facebook_picture_url? %>
                <%= image_tag pilote_pendulaire.facebook_picture_url.split("=")[0] << "=large", class: "avatar-comment" %>
              <% else %>
                <%= image_tag "pilot.png", class: "avatar" %>
            <% end %>
          <% end %>
          </div>
          <!-- <p style="top: 150px;"><%= @pendulaires.count %> vol(s).</p> -->
        </div>
      </div>
       <div class="col-sm-3">
        <div class="crop">
           <%= link_to search_ads_path(category: "Parapente") do %>
          <%= image_tag 'parapente.jpg', width: "150%"%>
          <% end %>
          <p>PARAPENTE</p>
          <div class="bandeau">
            <% @pilote_parapente.uniq.each do |pilote_parapente| %>
            <% if pilote_parapente.picture? %>
              <%= cl_image_tag pilote_parapente.picture, class: "avatar-comment" %>
              <% elsif pilote_parapente.facebook_picture_url? %>
                <%= image_tag pilote_parapente.facebook_picture_url.split("=")[0] << "=large", class: "avatar-comment" %>
              <% else %>
                <%= image_tag "pilot.png", class: "avatar" %>
            <% end %>
          <% end %>
          </div>
          <!-- <p style="top: 150px;"><%= @parapente.count %> vol(s).</p> -->
        </div>
      </div>
       <div class="col-sm-3">
        <div class="crop">
          <%= link_to search_ads_path(category: "Multiaxe") do %>
          <%= image_tag 'multiaxe-feature.jpg', width: "150%"%>
          <% end %>
          <p>MULTIAXE</p>
          <div class="bandeau">
            <% @pilote_multiaxe.uniq.each do |pilote_multiaxe| %>
            <% if pilote_multiaxe.picture? %>
              <%= cl_image_tag pilote_multiaxe.picture, class: "avatar-comment" %>
              <% elsif pilote_multiaxe.facebook_picture_url? %>
                <%= image_tag pilote_multiaxe.facebook_picture_url.split("=")[0] << "=large", class: "avatar-comment" %>
              <% else %>
                <%= image_tag "pilot.png", class: "avatar" %>
            <% end %>
          <% end %>
          </div>
          <!-- <p style="top: 150px;"><%= @multiaxe.count %> vol(s).</p> -->
        </div>
      </div>
    </div>
    <div class="row padded">
      <div class="col-sm-3">
        <div class="crop">
           <%= link_to search_ads_path(category: "Autogire") do %>
          <%= image_tag 'autogire-feature.jpg', width: "150%", style: 'margin: 0px 0px 0px -82px;' %>
          <% end %>
          <p>AUTOGIRE</p>
          <div class="bandeau">
            <% @pilote_autogire.uniq.each do |pilote_autogire| %>
            <% if pilote_autogire.picture? %>
              <%= cl_image_tag pilote_autogire.picture, class: "avatar-comment" %>
              <% elsif pilote_autogire.facebook_picture_url? %>
                <%= image_tag pilote_autogire.facebook_picture_url.split("=")[0] << "=large", class: "avatar-comment" %>
              <% else %>
                <%= image_tag "pilot.png", class: "avatar" %>
            <% end %>
          <% end %>
          </div>
          <!-- <p style="top: 150px;"><%= @autogire.count %> vol(s).</p> -->
        </div>
      </div>
       <div class="col-sm-3">
        <div class="crop">
           <%= link_to search_ads_path(category: "Planeur") do %>
          <%= image_tag 'planeur.jpg', width: "150%" , style: 'margin: 0px 0px 0px -82px;'%>
           <% end %>
          <p>PLANEUR</p>
          <div class="bandeau">
            <% @pilote_planeur.uniq.each do |pilote_planeur| %>
            <% if pilote_planeur.picture? %>
              <%= cl_image_tag pilote_planeur.picture, class: "avatar-comment" %>
              <% elsif pilote_planeur.facebook_picture_url? %>
                <%= image_tag pilote_planeur.facebook_picture_url.split("=")[0] << "=large", class: "avatar-comment" %>
              <% else %>
                <%= image_tag "pilot.png", class: "avatar" %>
            <% end %>
          <% end %>
          </div>
          <!-- <p style="top: 150px;"><%= @planeur.count %> vol(s).</p> -->
        </div>
      </div>
       <div class="col-sm-6">
        <div class="crop">
           <%= link_to search_ads_path(category: "Paramoteur") do %>
          <%= image_tag 'paramoteur.jpg', width: "100%" %>
          <% end %>
          <p>PARAMOTEUR</p>
          <div class="bandeau">
            <% @pilote_paramoteur.uniq.each do |pilote_paramoteur| %>
            <% if pilote_paramoteur.picture? %>
              <%= cl_image_tag pilote_paramoteur.picture, class: "avatar-comment" %>
              <% elsif pilote_paramoteur.facebook_picture_url? %>
                <%= image_tag pilote_paramoteur.facebook_picture_url.split("=")[0] << "=large", class: "avatar-comment" %>
              <% else %>
                <%= image_tag "pilot.png", class: "avatar" %>
            <% end %>
          <% end %>
          </div>
           <!-- <p style="top: 150px;"><%= @paramoteur.count %> vol(s).</p> -->
        </div>
      </div>
    </div>
  </div>
</div>



















<div class="wrapper padded" id="how">
  <h2 class="text-center">Comment ça marche</h2>
  <div class="container">
    <div class="row padded">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag 'pilote.jpg', width: "100%"%>
      </div>
       <div class="col-xs-12 col-sm-6">
      <h3><%= image_tag "pilot-feature.png", width: "10%" %> Vous êtes pilote</h3>
        <p class=""><i class="fas fa-sign-in-alt"></i> Publiez gratuitement vos annonces.</p>
        <p><i class="fas fa-sign-in-alt"></i> Organisez votre balade avec votre passager.</p>
        <p class=""> <i class="fas fa-sign-in-alt"></i> Réduisez vos frais en partageant votre passion.</p>
        <p> <i class="fas fa-sign-in-alt"></i> Créez votre profil (carnet de vol)</p>
      </div>
    </div>
     <div class="row">
      <div class="col-xs-12 col-sm-6">
      <h3><%= image_tag "passenger.png", width: "10%" %> Vous êtes passager</h3>
      <p><i class="fas fa-sign-in-alt"></i> Trouvez une balade facilement</p>
      <p><i class="fas fa-sign-in-alt"></i> Contactez votre pilote de votre région</p>
      <p><i class="fas fa-sign-in-alt"></i> Récevez une confirmation rapide</p>
      <p><i class="fas fa-sign-in-alt"></i> Organisez votre balade avec votre pilote.</p>

      </div>
       <div class="col-xs-12 col-sm-6">
        <%= image_tag 'passager.jpg', width: "100%"%>
      </div>
    </div>
  </div>
</div>




































<!-- <div id="mycarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
    <li data-target="#mycarousel" data-slide-to="2"></li>
    <li data-target="#mycarousel" data-slide-to="3"></li>
  </ol> -->

  <!-- Wrapper for slides -->
<!--    <div class="carousel-inner" role="listbox">
    <div class="item">
        <%= image_tag "paramoteur.jpg" %>
        <div class="carousel-caption">
            <h3>Paramoteur</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag "pendulaire.jpg" %>
        <div class="carousel-caption">
            <h3>Pendulaire</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag "autogire-feature.jpg" %>
        <div class="carousel-caption">
            <h3>Autogire</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag "multiaxe.jpg" %>
        <div class="carousel-caption">
            <h3>Multiaxe</h3>
        </div>
    </div>
  </div> -->

  <!-- Controls -->
 <!--   <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->









<% if @users_pilote.nil? %>
<div class="banner banner-parallax banner-parallax1 img-responsive">
  <div class="banner-filter"></div>
  <div class="banner-content-parallax text-center">
    <span>Faites la connaissance de nos pilotes.</span>
     <div class="counter">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <i class="fa fa-star" aria-hidden="true"></i>
            <div class="count"><%= @ads_counter %></div>
            <p>annonces</p>
          </div>
           <div class="col-xs-12 col-sm-4">
            <i class="fa fa-plane" aria-hidden="true"></i>
            <div class="count"><%= @pilote_counter %></div>
            <p>pilotes</p>
          </div>
           <div class="col-xs-12 col-sm-4">
            <i class="fa fa-users" aria-hidden="true"></i>
            <div class="count"><%= @passager_counter %></div>
            <p>ont déjà volés</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<!--   <div class="wrapper pilote-wrapper" style="">
  <p class="text-center">Des pilotes partagent leur passion. Venez les rencontrer !</p>
    <div class="container text-center">
      <div class="row">
          <% @users_pilote.each do |pilote| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
          <% if pilote.description.present? %>
           <% if pilote.picture? %>
            <%= cl_image_tag pilote.picture,class: "img-circle", width: "180", height: "180" %>
            <% elsif pilote.facebook_picture_url? %>
              <%= image_tag pilote.facebook_picture_url.split("=")[0] << "=large", class: "img-circle", width: "180", height: "180" %>
            <% else %>
              <%= image_tag "pilot.png", class: "img-circle", width: "180", height: "180" %>
          <% end %>

          <h4><%= pilote.name || pilote.first_name %></h4>
           <% description = pilote.description %>
           <% description = description.split.first(10) %>
          <h4><i><%= description.to_sentence.gsub(',', '')+ ' ' +'[...]' %></i></h4>
          <% end %>
            </div>
         <% end %>
      </div>
    </div>
  </div> -->
<% end %>






<!-- <div class="banner banner-parallax1" style="background-attachment: fixed;
    background-size: cover !important;">
  <div class="banner-content-parallax" style="text-align: left;">
    <div class="container text-center">
      <div class="row">
          <% @users_pilote.each do |pilote| %>
          <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 70px;">
          <% if pilote.description.present? %>
           <% if pilote.picture? %>
            <%= cl_image_tag pilote.picture,class: "img-circle", width: "180", height: "180" %>
            <% elsif pilote.facebook_picture_url? %>
              <%= image_tag pilote.facebook_picture_url.split("=")[0] << "=large", class: "img-circle", width: "180", height: "180" %>
            <% else %>
              <%= image_tag "pilot.png", class: "img-circle", width: "180", height: "180" %>
          <% end %>

          <h4><%= pilote.name || pilote.first_name %></h4>
           <% description = pilote.description %>
           <% description = description.split.first(10) %>
          <h4><i><%= description.to_sentence.gsub(',', '')+ ' ' +'[...]' %></i></h4>
          <% end %>
            </div>
         <% end %>
      </div>
    </div>
    <div class="padded text-center">
    <p class="button-home-banner"><%= link_to t(".top_call_to_action", default: "Ca commence ici"), new_user_registration_path, class: "btn-lg btn-primary" %></p>
</div>
  </div>
</div> -->
