
    <!-- BANNER HOME -->

<div class="banner">
  <div class="banner-content">
    <h1>MAKE ME FLY</h1>
    <p>Je trouve mon pilote. Je vole pas cher !</p>

    <!-- SEARCH BAR -->
    <div class="padded">
      <form action="<%= search_ads_path %>" class=" formulaire form-inline text-center">
        <input name="q" type="text" class="form-control input-lg text-center " placeholder="Exemple 'Nîmes'">
        <input type="submit" value="Recherchez" class="btn btn-primary btn-lg">
      </form>
      <div class="compteur">
      <i class="fa fa-plane" aria-hidden="true">   </i>
         <span class="count"><%= @ads_counter %></span>
         <p>vols disponibles</p>
      </div>
    </div>
  </div>
</div>

<!-- INTRO -->

<div class="wrapper-feature text-center">
  <div class="container">
    <p><h2>Ce que <strong>nous faisons</strong></h2></p>
    <p><div class="border"></div></p>
    <p><strong>MakeMeFly</strong> est une plate-forme qui se propose de vous faire rencontrer votre pilote ULM. Découvrez la passion de pilote et <strong>volez en quelques clics</strong> à bord d'un <strong>pendulaire, multiaxe ou paramoteur</strong>. Un ultra-léger motorisé, plus couramment appelé ULM, est un aéronef muni d'un moteur, répondant à des critères de masse ou de puissance maximales définis par les juridictions nationales et autorisant son utilisation dans des conditions de navigabilité simplifiées par rapport à celles d'un avion léger et avec une licence de pilotage spécifique. La plupart des ULM peuvent décoller et atterrir sur des distances réduites hors des aérodromes, mais les plus performants s'apparentent aux avions légers certifiés.</p>
  </div>
</div>

<!-- FEATURES 1-->

<div class="wrapper-pilot">
<div class="container">
  <div class="row">
  <div class="col-xs-12 col-sm-6 no-space-left">
    <div class="pilote">
      <div class="feature-icon">
        <i class="fa fa-fighter-jet" aria-hidden="true"></i>
      </div>
        <h3>Je suis pilote</h3>
        <p>Je suis pilote et je me connecte pour publier une annonce.</p>
        <%= link_to t(".top_call_to_action", default: "Connexion"), new_user_session_path, class: "button-feature" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 no-space-right">
    <div class="passager">
      <div class="feature-icon">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
        <h3>Je suis passager</h3>
        <p>Je crée un compte, je trouve mon pilote, je vol pas cher.</p>
        <%= link_to t(".top_call_to_action", default: "Connexion"), new_user_session_path, class: "button-feature" %>
    </div>
    </div>
  </div>
 </div>
</div>
</div>



<!-- FEATURES 2-->

<div class="wrapper-grey padded">
  <div class="container">
<!--   <h2 class ="text-center">Simple et rapide</h2>
 -->  <br>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="feature-size" type="button" class="btn btn-default" data-container="body" data-toggle="popover" title="Popover title" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          <i class="fa fa-search-plus"></i>
        </div>
        <h2 class="text-center">SIMPLE</h2>
        <p class="text-center" >Choisissez où vous voulez voler</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="feature-size" type="button" class="btn btn-default" data-container="body" data-toggle="popover" title="Popover title" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          <i class="fa fa-lock"></i>
        </div>
        <h2 class="text-center">SECURISE</h2>
        <p class="text-center">Réservez en ligne</p>
      </div>
       <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="feature-size" type="button" class="btn btn-default" data-container="body" data-toggle="popover" title="Popover title" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          <i class="fa fa-clock-o"></i>
        </div>
        <h2 class="text-center">FIABLE</h2>
        <p class="text-center">Recevez une confirmation rapide</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="feature-size" type="button" class="btn btn-default" data-container="body" data-toggle="popover" title="Popover title" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          <i class="fa fa-paper-plane"></i>
        </div>
        <h2 class="text-center">CONVIVIAL</h2>
        <p class="text-center">Volez !</p>
      </div>
    </div>
  </div>
</div>




<div class="banner banner-parallax banner-parallax1 img-responsive">
  <div class="banner-filter"></div>
  <div class="banner-content-parallax text-center">
    <span>Découvrez les vols en ULM prés de chez vous.</span>
    <p>Les ULM ont été conçus comme un moyen de loisirs aérien, plus simple et moins couteux que l'aviation de tourisme habituelle.</p>
    <p class="italic"> Donnez vous la chance d'essayer.</p>
  </div>
</div>




 <!-- CARDS -->
<div class="wrapper-card padded">
  <div class="container">
  <p><h2 class ="text-center">Je vole pas cher en quelques clics</h2></p>
  <p class ="text-center">Découvrez la passion de pilotes expérimentés</p>
    <div class="row">
       <div class="reveal">
          <% @ads.each do |ad| %>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <%= render ad %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
  </div>

</div>




<div class="wrapper-newsletter padded">
  <div class="container text-center">
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
    <h3 class ="text-center">Nos meilleures offres dans votre inbox</h3>
    <form class="form-inline">
    <input placeholder="Votre adresse email" class="form-control" type="email" name="email">
    <button type="submit" class="navbar-wagon-item navbar-wagon-button btn">M'inscrire</button>
    </form>
  </div>
</div>


<div class="wrapper-pilote">
  <div class="container text-center">
    <div class="btn-group padded-basket">
      <div class="row">
        <%= link_to "Voir tous les pilotes", users_path, :class => "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>




<div id="slider2">
  <div class="slides">
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Paramoteur</h1>
          <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
        </div>
      </div>
      <div class="image">
       <%= image_tag "paramoteur.jpg"%>
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Pendulaire</h1>
          <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
        </div>
      </div>
      <div class="image">
       <%= image_tag "pendulaire.jpg"%>
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Multiaxe</h1>
          <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
        </div>
      </div>
      <div class="image">
       <%= image_tag "multiaxe.jpg"%>
      </div>
    </div>
  </div>
  <div class="switch">
    <ul>
      <li>
        <div class="on"></div>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>



