<div class="banner-show banner-new-ad" style="height: 200px; font-weight: bold; font-size: 40px;">
<p>Entrez un nouvel aéronef</p>
</div>
  <div class="container padded">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="wrapper-registration well">
          <%= simple_form_for(@aeronef, :html => { multipart: true }) do |f| %>
          <div class="form-group">
            <%= f.select :aeronef_category, ['Multiaxe', 'Paramoteur', 'Pendulaire', 'Autogire', 'Planeur', 'parapente'], {} ,class: "form-control", label: "Type d'appareil"%>
          </div>
          <%= f.input :marque, label: 'Marque', placeholder: "Ex: ULTRAL'AIR", wrapper: :horizontal_form %>
          <%= f.input :modele, label: 'Modele', placeholder: 'Ex: WEEDHOPPER AX3 -16',wrapper: :horizontal_form %>
          <%= f.input :cylindre, label: false, placeholder: "Ex: 50ch", label: 'Cylindré',wrapper: :horizontal_form  %>
          <%= f.input :equipement, label: 'Equipement', placeholder: "Décrivez votre appareil ainsi que les équipements. Ajouter les petits plus qui personnalisent votre aéronef. ",:input_html => {:rows => 10}, label: 'Equipement', wrapper: :horizontal_form %>
          <%= f.input :photos, label: false, placeholder: "Photo de votre ULM (Photo en paysage)", label: "Photo de votre ULM", :input_html => { class: 'hide-profile-field'}, wrapper: :horizontal_form %>
          <%= f.input :image_1, label: false, placeholder: "Photo 2 de votre ULM (Photo en paysage)", label: "Photo de votre ULM (Photo en paysage)", :input_html => { class: 'hide-profile-field'}, wrapper: :horizontal_form %>
          <%= f.input :image_2, label: false, placeholder: "Photo 3 de votre ULM (Photo en paysage)", label: "Photo de votre ULM (Photo en paysage)", :input_html => { class: 'hide-profile-field'}, wrapper: :horizontal_form %>
          <%= f.input :image_3, label: false, placeholder: "Photo 4 de votre ULM (Photo en paysage)", label: "Photo de votre ULM (Photo en paysage)", :input_html => { class: 'hide-profile-field'}, wrapper: :horizontal_form %>
          <%= f.input :image_4, label: false, placeholder: "Photo 5 de votre ULM (Photo en paysage)", label: "Photo de votre ULM (Photo en paysage)", :input_html => { class: 'hide-profile-field'}, wrapper: :horizontal_form %>
          <%= f.input :annee, label: false, label: "Année de construction", wrapper: :horizontal_form %>
          <%= f.input :vitesse, label: false, label: "Vitesse de pointe",placeholder: 'Ex: 250 km/h', wrapper: :horizontal_form  %>
          <%= f.input :autonomie, label: false, label: "Autonomie", placeholder: 'Ex: 2h30', wrapper: :horizontal_form  %>
          <%= f.button :submit, value: "Ajouter cet appareil" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
