<!-- <div class="banner-show banner-session" style="height: 200px; font-weight: lighter;">
<p>Nous sommes heureux de vous revoir. Connectez-vous.</p>
</div> -->
<div class="panel panel-default" style="height: 100vh;">
    <div class="panel-body">
    <div class="form-inputs text-center">
      <div class="container">
      <div class="row">
<div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="session text-center">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'well'})  do |f| %>
      <h3>MakeMeFly</h3>
        <div class="form-inputs" style="padding: 0px 70px;">
          <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "email" %>
          <%= f.input :password, required: false, label: false, placeholder: "mot de passe" %>
          <p><%= f.button :submit, "Se connecter", class: "btn btn-primary" %></p>
          <p><%= render "devise/shared/links" %></p>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      <% end %>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

