

<div class="panel panel-default">
  <div class="panel-body">
  <div class="form-inputs text-center">
      <div class="col-xs-offset-4 col-xs-5">
    <h2 class = "text-center">Déjà client ? Connectez vous !</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>


    <div class="form-actions class-center text-center">
      <%= f.button :submit, "Je me connnecte" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

<!-- J'ai utilisé panel-body de bootstrap ex:
<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>
 -->
