
<div class="wrapper padded banner-payment">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="centeredPrompt">
          <div class="centeredPrompt__item centeredPromptIcon">
            <div class="icon fa fa-smile-o"></div>
          </div>
          <div class="centeredPrompt__item centeredPromptLabel">Bienvenue sur la page de paiement</div>
          <div class="centeredPrompt__item centeredPromptDetails">Réservez le vol de <%= @order.ad_sku%></div>
          <div class="centeredPrompt__item button">

            <%= form_tag order_payments_path(@order) do %>
              <article>
                <label class="amount">
                  <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
                </label>
              </article>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key= "<%= Rails.configuration.stripe[:publishable_key] %>"
                data-name="Réserver votre vol"
                data-email="<%= current_user.email%>"
                data-description="Vol de <%= @order.ad_sku %>"
                data-amount="<%= @order.amount_cents %>"
                data-currency="EUR">
              </script>

            <% end %>
      </div>
    </div>
  </div>
 </div>
</div>
</div>
