<!DOCTYPE html>
<html>
  <head>
    <title>MAKE ME FLY</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
    <script src="jquery-circle-progress/dist/circle-progress.js"></script> -->
    <script src="//code.jquery.com/jquery-1.7.1.js"></script>
    <script src="~/Scripts/CircularLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js"></script>


  </head>
  <body>

    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>

    <%= yield %>

    <%= render "shared/footer" %>
    <%= debug(params) if Rails.env.development? %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/maprkerclusterer_packed.js" %>
    <%= javascript_include_tag 'application' %>

    <%= yield(:after_js)%>




  </body>
</html>
